<template>
  <a-layout>
    <SlideView />

    <a-layout>
      <a-layout-content
          class="container"
          :style="{
            background: '#f5f5f5',
            margin: 0,
            marginTop: '64px',
          }"
        >
      <a-layout style="padding: 0 24px 24px; ">
        <div class="breadcrumb">
          <a-card size="small">
            <a-row justify="space-between" align="middle">
              <a-col :span="24">
                <a-row align="middle" :gutter="[24]">
                  <a-col :span="14">
                    <a-breadcrumb>
                      <a-breadcrumb-item
                        ><router-link to="/">Home</router-link></a-breadcrumb-item
                      >
                      <a-breadcrumb-item
                        ><router-link to="/doctor">Doctor</router-link></a-breadcrumb-item
                      >
                      <a-breadcrumb-item>Create</a-breadcrumb-item>
                    </a-breadcrumb>
                    <h1>Add Doctor</h1>
                  </a-col>
                  <a-col  :span="10">
                    <a-tooltip placement="top">
                      <template #title>
                        <span>Back</span>
                      </template>
                      <a-button class="editable-add-btn backbutton" @click="goBack"
                        ><arrow-left-outlined
                      /></a-button>
                    </a-tooltip>
                  </a-col>
                </a-row>
              </a-col>
            </a-row>
          </a-card>
        </div>
        <a-card>
          <a-form
            :model="form"
            layout="vertical"
            name="basic"
            :rules="rules"
            autocomplete="off"
            @finish="saveData"
            @finishFailed="onFinishFailed"
            
          >
            <a-row :gutter="16">
              <a-col :span="8">
                <a-form-item
                  label="First Name"
                  name="firstname"
                  :rules="[
                    { required: true, message: 'Please input your firstname!' },
                  ]"
                >
                  <a-input
                    v-model:value="form.firstname"
                    placeholder="Please enter first name"
                    allow-clear
                  />
                </a-form-item>
              </a-col>
              <a-col :span="8">
                <a-form-item
                  label="Last Name"
                  name="lastname"
                  :rules="[
                    { required: true, message: 'Please input your LastNAme!' },
                  ]"
                >
                  <a-input
                    v-model:value="form.lastname"
                    placeholder="Please enter middle name"
                    allow-clear
                  />
                </a-form-item>
              </a-col>
              <a-col :span="8">
                <a-form-item
                  label="Mobile No."
                  name="mobileno"
                  :rules="[
                    { required: true, message: 'Please input your mobile number!' },
                    {
                      pattern: /^[0-9]{10}$/,
                      message: 'Mobile number should be 10 digits!',
                    },
                  ]"
                >
                  <a-input
                    v-model:value="form.mobileno"
                    placeholder="Please enter last name"
                    allow-clear
                  />
                </a-form-item>
              </a-col>
            </a-row>
            <a-row :gutter="16">
              <a-col :span="8">
                <a-form-item label="Email" name="email"  :rules="[
                  { type: 'email', message: 'Please enter a valid email address!' },
                ]">
                  <a-input
                    v-model:value="form.email"
                    placeholder="Please enter first name"
                    allow-clear
                  />
                </a-form-item>
              </a-col>
              <a-col :span="8">
                <a-form-item label="Qualifications" name="qualifications">
                  <a-input
                    v-model:value="form.qualifications"
                    placeholder="Please enter middle name"
                    allow-clear
                  />
                </a-form-item>
              </a-col>
              <a-col :span="8">
                <a-form-item label="Registration No." name="registrationno">
                  <a-input
                    v-model:value="form.registrationno"
                    placeholder="Please enter last name"
                    allow-clear
                  />
                </a-form-item>
              </a-col>
            </a-row>
            <a-row :gutter="16">
              <a-col :span="24">
                <a-form-item label="Short Bio" name="bio">
                  <a-textarea
                    v-model:value="form.bio"
                    :rows="4"
                    placeholder="please enter url address 1"
                    allow-clear
                  />
                </a-form-item>
              </a-col>
            </a-row>
            <a-row :gutter="16">
              <a-col :span="24">
                <a-form-item>
                  <a-button
                    type="primary"
                    html-type="submit"
                    style="width: 100%; "
                   
                  >
                    {{ buttonText }}</a-button
                  >
                </a-form-item>
              </a-col>
            </a-row>
          </a-form>
        </a-card>
      </a-layout>
    </a-layout-content>
    </a-layout>
  </a-layout>
</template>
<script setup>
import { v4 as generateUniqueId } from "uuid";
import { ArrowLeftOutlined } from "@ant-design/icons-vue";
import { useRouter } from "vue-router";
import { reactive, ref, onMounted, defineProps } from "vue";
import SlideView from "@/components/SlideView.vue";
import { message } from "antd";


const router = useRouter();
const buttonText = ref("Add");
const props = defineProps({
  id: {
    type: String,
    default: null,
  },
});

const goBack = () => {
  router.go(-1);
};


const onFinishFailed = (errorInfo) => {
  console.log("Failed:", errorInfo);
};

//add localstorage
const form = reactive({
  id: "",
  firstname: "",
  lastname: "",
  mobileno: "",
  email: "",
  qualifications: "",
  registrationno: "",
  bio: "",
});

//edit localstorage
const populateForm = (data) => {
  form.id = data.id;
  form.firstname = data.firstname;
  form.lastname = data.lastname;
  form.mobileno = data.mobileno;
  form.email = data.email;
  form.qualifications = data.qualifications;
  form.registrationno = data.registrationno;
  form.bio = data.bio;
};

//add and update localstorage
const saveData = async () => {
  try {
    const DoctorsData = JSON.parse(localStorage.getItem("Doctors-data")) || [];

    if (props.id) {
      const index = DoctorsData.findIndex((doctor) => doctor.id === props.id);
      if (index !== -1) {
        DoctorsData[index] = form;
        message.success("Data updated successfully");
      }
    } else {
      form.id = generateUniqueId();
      DoctorsData.push(form);
      message.success("Data added successfully");
    }

    localStorage.setItem("Doctors-data", JSON.stringify(DoctorsData));
    router.push("/doctor");
  } catch (err) {
    console.log(err);
  }
};

//get  doctore  id loclastorage
const getDoctorDataById = (id) => {
  const DoctorsData = JSON.parse(localStorage.getItem("Doctors-data")) || [];
  return DoctorsData.find((doctor) => doctor.id === id);
};

//change button
onMounted(() => {
  if (props.id) {
    buttonText.value = "Update";
    populateForm({ id: props.id, ...getDoctorDataById(props.id) });
  } else {
    buttonText.value = "Create";
  }
});
</script>
<style scoped>



</style>