<template>
  <a-layout>
    <SlideView />

    <a-layout>
      <a-layout-content
          class="container"
          :style="{
            background: '#f5f5f5',
            margin: 0,
            marginTop: '64px',
          }"
        >
      <a-layout style="padding: 0 24px 24px">
        <div class="breadcrumb">
          <a-card size="small">
            <a-row justify="space-between" align="middle">
              <a-col  :span="24">
                <a-row align="middle" :gutter="[24]" >
                  <a-col :span="14">
                    <a-breadcrumb >
                      <a-breadcrumb-item
                        ><router-link to="/">Home</router-link></a-breadcrumb-item
                      >
                      <a-breadcrumb-item
                        ><router-link to="/doctor">Doctor</router-link></a-breadcrumb-item
                      >
                    </a-breadcrumb>
                    <h1>Doctors</h1>
                  </a-col>
                  <a-col :span="10">
                    <a-tooltip placement="top">
                      <template #title>
                        <span>Back</span>
                      </template>
                      <a-button class="editable-add-btn backbutton" @click="goBack"
                        ><arrow-left-outlined
                      /></a-button>
                    </a-tooltip>
                    <a-popover
                      v-model:open="visibledropdoun"
                      placement="bottom"
                      trigger="click"
                    >
                      <a-tooltip placement="top">
                        <template #title>
                          <span>Show/Hide Columns</span>
                        </template>
                        <a-button class="editable-add-btn settingbutton"
                          ><setting-outlined
                        /></a-button>
                      </a-tooltip>
                      <template #content>
                        <div>
                          Select Columns
                          <a @click="hide" style="float: right"><close-outlined /></a
                          ><br />
                        </div>
                        <div class="checkbox">
                          <a-checkbox
                            v-model:checked="showAllColumns"
                            :indeterminate="statee.indeterminate"
                            @change="onShowAllChange"
                          >
                            Show All
                          </a-checkbox>
                        </div>
                        <a-checkbox-group
                          class="verticle"
                          v-model:value="statee.checkedList"
                          :options="plainOptions"
                        />
                      </template>
                    </a-popover>
                    <a-tooltip placement="top">
                      <template #title>
                        <span>Add New Doctor</span>
                      </template>
                      <a-button  type="primary" class="editable-add-btn addbutton"
                        ><router-link to="/doctor/store"><plus-outlined /></router-link>
                      </a-button>
                    </a-tooltip>
                  </a-col>
                </a-row>
              </a-col>
            </a-row>
          </a-card>
        </div>
        <a-card>
          <a-spin :spinning="spinning">
            <a-table
              :columns="filteredColumns"
              :data-source="data"
              :row-key="(record) => record.id"
              @change="onChange"
              :style="{
                background: '#fff',
              }"
            >
              <template
                #customFilterDropdown="{
                  setSelectedKeys,
                  selectedKeys,
                  confirm,
                  clearFilters,
                  column,
                }"
              >
                <div style="padding: 8px">
                  <a-input
                    ref="searchInput"
                    :placeholder="`Search ${column.dataIndex}`"
                    :value="selectedKeys[0]"
                    style="width: 188px; margin-bottom: 8px; display: block"
                    @change="
                      (e) =>
                        setSelectedKeys(e.target.value ? [e.target.value] : [])
                    "
                    @pressEnter="
                      handleSearch(selectedKeys, confirm, column.dataIndex)
                    "
                  />
                  <a-button
                    type="primary"
                    size="small"
                    style="width: 90px; margin-right: 8px"
                    @click="
                      handleSearch(selectedKeys, confirm, column.dataIndex)
                    "
                  >
                    <template #icon>
                      <SearchOutlined />
                    </template>
                    Search
                  </a-button>
                  <a-button
                    size="small"
                    style="width: 90px"
                    @click="handleReset(clearFilters)"
                  >
                    Reset
                  </a-button>
                </div>
              </template>
              <template #customFilterIcon="{ filtered }">
                <search-outlined
                  :style="{ color: filtered ? '#108ee9' : undefined }"
                />
              </template>
              <template #bodyCell="{ text, column, record }">
                <span
                  v-if="
                    state.searchText &&
                    state.searchedColumn === column.dataIndex
                  "
                >
                  <template
                    v-for="(fragment, i) in text
                      .toString()
                      .split(
                        new RegExp(
                          `(?<=${state.searchText})|(?=${state.searchText})`,
                          'i'
                        )
                      )"
                  >
                    <mark
                      v-if="
                        fragment.toLowerCase() ===
                        state.searchText.toLowerCase()
                      "
                      :key="i"
                      class="highlight"
                    >
                      {{ fragment }}
                    </mark>
                    <template v-else>{{ fragment }}</template>
                  </template>
                </span>
                <template v-if="column.dataIndex === 'Action'">
                  <div>
                    <a-tooltip placement="top">
                      <template #title>
                        <span>Show Doctor's Data</span>
                      </template>
                      <span>
                        <a class="viewicon" @click="viewdoctors(record.id)">
                          <EyeOutlined />
                        </a>
                      </span>
                    </a-tooltip>
                    <a-tooltip placement="top">
                      <template #title>
                        <span>Edit Doctor's Data</span>
                      </template>
                      <span>
                        <a class="editicon" @click="redirectToEdit(record.id)">
                          <EditOutlined />
                        </a>
                      </span>
                    </a-tooltip>
                    <a-tooltip placement="top">
                      <template #title>
                        <span>Remind Doctor's</span>
                      </template>
                      <span>
                        <a-tooltip placement="top">
                          <template #title>
                            <span>Delete Doctor's Data</span>
                          </template>
                          <span>
                            <a-popconfirm
                              title="Sure to cancel?"
                              @confirm="onDelete(record.id)"
                            >
                              <a class="deleteicon"><delete-outlined /></a>
                            </a-popconfirm>
                          </span>
                        </a-tooltip>
                      </span>
                    </a-tooltip>
                  </div>
                </template>
              </template>
            </a-table>
          </a-spin>
        </a-card>
      </a-layout>
    </a-layout-content>
    </a-layout>
  </a-layout>
</template>
<script setup>
import {
  PlusOutlined,
  SettingOutlined,
  ArrowLeftOutlined,
  DeleteOutlined,
  EditOutlined,
  EyeOutlined,
  CloseOutlined,
  SearchOutlined,
} from "@ant-design/icons-vue";
import { useRouter } from "vue-router";
import { ref, reactive, watchEffect, watch, computed, onMounted } from "vue";
import { useSpinnerStore } from "@/store/spinner";
import { useDrawerStore } from "../../store/drawer";
import SlideView from "@/components/SlideView.vue";
import { message } from "ant-design-vue";
import { storeToRefs } from "pinia";

const router = useRouter();
const showAllColumns = ref(false);
const visibledropdoun = ref(false);
const spinerstore = useSpinnerStore();
const { spinning } = storeToRefs(spinerstore);
const { startSpin } = spinerstore;
const drawerStore = useDrawerStore();
const { goBack } = drawerStore;
const hide = () => {
  visibledropdoun.value = false;
};

const redirectToEdit = (id) => {
  router.push({ name: "store", params: { id } });
};

const viewdoctors = (id) => {
  router.push({ path: `/doctors/${id}/Details` });
};

//columns
const columns = [
  {
    title: "Full Name",
    dataIndex: "firstname",
    key: "firstname",
    sorter: (a, b) => a.firstname.length - b.firstname.length,
    sortDirections: ["descend", "ascend"],
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.firstname.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "Mobile No.",
    dataIndex: "mobileno",
    key: "mobileno",
    sorter: (a, b) => a.mobileno.length - b.mobileno.length,
    sortDirections: ["descend", "ascend"],
  },
  {
    title: "Email",
    dataIndex: "email",
    key: "email",
    sorter: (a, b) => a.email.length - b.email.length,
    sortDirections: ["descend", "ascend"],
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.email.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "Registration No.",
    dataIndex: "registrationno",
    key: "registrationno",
    sorter: (a, b) => a.registrationno.length - b.registrationno.length,
    sortDirections: ["descend", "ascend"],
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.registrationno
        .toString()
        .toLowerCase()
        .includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "Action",
    dataIndex: "Action",
    key: "Action",
  },
];
const handleSearch = (selectedKeys, confirm, dataIndex) => {
  confirm();
  state.searchText = selectedKeys[0];
  state.searchedColumn = dataIndex;
};
const handleReset = (clearFilters) => {
  clearFilters({
    confirm: true,
  });
  state.searchText = "";
};
const state = reactive({
  searchText: "",
  searchedColumn: "",
});
const searchInput = ref();

const data = ref([]);

//fetch data in local storage
const fetchData = () => {
  const doctorsData = JSON.parse(localStorage.getItem("Doctors-data")) || [];
  data.value = doctorsData;
};

function onChange(pagination, filters, sorter, extra) {
  console.log("params", pagination, filters, sorter, extra);
}

const filteredColumns = computed(() => {
  if (showAllColumns.value) {
    return columns;
  } else {
    return columns.filter((column) =>
      statee.checkedList.includes(column.dataIndex)
    );
  }
});


//refresh table
const refreshTable = async () => {
  try {
    const patientsData = JSON.parse(localStorage.getItem("Doctors-data")) || [];
    data.value = patientsData;
  } catch (error) {
    console.error(error);
  }
};


//delete doctor in localstorage
const onDelete = (id) => {
  const DoctorsData = JSON.parse(localStorage.getItem("Doctors-data")) || [];
  const index = DoctorsData.findIndex((doctor) => doctor.id === id);
  if (index !== -1) {
    DoctorsData.splice(index, 1);
    localStorage.setItem("Doctors-data", JSON.stringify(DoctorsData));
    message.success("Doctor's data deleted successfully");
    refreshTable();
    startSpin();
  }
};

const plainOptions = [
  "firstname",
  "mobileno",
  "email",
  "registrationno",
  "Action",
];
const defaultCheckedList = [
  "firstname",
  "mobileno",
  "email",
  "registrationno",
  "Action",
];

const statee = reactive({
  indeterminate: true,
  checkAll: false,
  checkedList: defaultCheckedList,
});

const onShowAllChange = (checked) => {
  if (checked) {
    statee.checkedList = plainOptions;
  } else {
    statee.checkedList = [];
  }
};

watch(showAllColumns, (value) => {
  if (value) {
    statee.checkedList = plainOptions.slice();
  } else {
    statee.checkedList = defaultCheckedList.slice();
  }
});

watchEffect(() => {
  const DoctorsData = JSON.parse(localStorage.getItem("Doctors-data")) || [];
  data.value = DoctorsData;
  startSpin();
});

onMounted(() => {
  fetchData();
});
</script>
<style scoped>
</style>