<template>
  <a-layout>
    <SlideView />

    <a-layout>
      <a-layout-content
          class="container"
          :style="{
            background: '#f5f5f5',
            margin: 0,
            marginTop: '64px',
          }"
        >
      <a-layout style="padding: 0 24px 24px">
        <div class="breadcrumb">
          <a-card size="small">
            <a-row justify="space-between" align="middle">
              <a-col :span="24">
                <a-row align="middle" :gutter="[24]">
                  <a-col :span="14">
                    <a-breadcrumb >
                      <a-breadcrumb-item
                        ><router-link to="/">Home</router-link></a-breadcrumb-item
                      >
                      <a-breadcrumb-item
                        ><router-link to="/doctor">Doctor</router-link></a-breadcrumb-item
                      >
                      <a-breadcrumb-item>Details</a-breadcrumb-item>
                    </a-breadcrumb>
                    <h1>
                      {{ doctorData.firstname }} {{ doctorData.lastname }} - Details
                    </h1>
                  </a-col>
                  <a-col :span="10">
                    <a-tooltip placement="top">
                      <template #title>
                        <span>Back</span>
                      </template>
                      <a-button class="editable-add-btn backbutton" @click="goBack"
                        ><arrow-left-outlined
                      /></a-button>
                    </a-tooltip>
                  </a-col>
                </a-row>
              </a-col>
            </a-row>
          </a-card>
        </div>
       
          <div>
            <a-descriptions :bordered="true" :column="1">
              <a-descriptions-item label="First Name">{{
                doctorData.firstname
              }}</a-descriptions-item>
              <a-descriptions-item label="Last Name">{{
                doctorData.lastname
              }}</a-descriptions-item>
              <a-descriptions-item label="Mobile No.">{{
                doctorData.mobileno
              }}</a-descriptions-item>
              <a-descriptions-item label="Email">{{
                doctorData.email
              }}</a-descriptions-item>
              <a-descriptions-item label="Qualification">{{
                doctorData.qualifications
              }}</a-descriptions-item>
              <a-descriptions-item label="Registration No">{{
                doctorData.registrationno
              }}</a-descriptions-item>
              <a-descriptions-item label="Short Bio">{{
                doctorData.bio
              }}</a-descriptions-item>
            </a-descriptions>
          </div>
        
      </a-layout>
    </a-layout-content>
    </a-layout>
  </a-layout>
</template>
<script setup>
import { ArrowLeftOutlined } from "@ant-design/icons-vue";
import { useRouter } from "vue-router";
import { ref, onMounted } from "vue";
import SlideView from "@/components/SlideView.vue";
const router = useRouter();
const doctorData = ref({});
const goBack = () => {
  router.go(-1);
};

//fetch data with id 
const fetchDoctorData = () => {
  const id = router.currentRoute.value.params.id; // Get the doctor ID from the route params
  const doctorsData = JSON.parse(localStorage.getItem("Doctors-data")) || [];
  const selectedDoctor = doctorsData.find((doctor) => doctor.id === id);
  doctorData.value = selectedDoctor || {};
};

onMounted(() => {
  fetchDoctorData();
});
</script>
<style scoped>
</style>