<template>
  <a-layout>
    <SlideView />
    <a-layout>
      <a-layout-content
        class="container"
        :style="{
          background: '#f5f5f5',
          margin: 0,
          marginTop: '64px',
        }"
      >
        <a-layout style="padding: 0 20px 20px">
          <div class="breadcrumb">
            <a-card>
              <a-row justify="space-between" align="middle">
                <a-col :span="24">
                  <a-row align="middle" :gutter="[24]">
                    <a-col :span="14">
                      <a-breadcrumb>
                        <a-breadcrumb-item
                          ><router-link to="/"
                            >Home</router-link
                          ></a-breadcrumb-item
                        >
                        <a-breadcrumb-item
                          ><router-link to="/payments">
                            payments</router-link
                          ></a-breadcrumb-item
                        >
                      </a-breadcrumb>
                      <h1>Payments</h1>
                    </a-col>
                    <a-col :span="10">
                      <a-tooltip placement="top">
                        <template #title>
                          <span>Back</span>
                        </template>
                        <a-button
                          class="editable-add-btn backbutton"
                          @click="goBack"
                          ><arrow-left-outlined
                        /></a-button>
                      </a-tooltip>
                      <a-popover
                        placement="bottom"
                        trigger="click"
                        v-model:open="visibledropdoun"
                      >
                        <a-tooltip placement="top">
                          <template #title>
                            <span>Show/Hide Columns</span>
                          </template>
                          <a-button class="editable-add-btn settingbutton"
                            ><setting-outlined
                          /></a-button>
                        </a-tooltip>
                        <template #content>
                          <div>
                            Select Columns
                            <a @click="hide" style="float: right"
                              ><close-outlined /></a
                            ><br />
                          </div>
                          <div class="checkbox">
                            <a-checkbox
                              v-model:checked="showAllColumns"
                              :indeterminate="statee.indeterminate"
                              @change="onShowAllChange"
                            >
                              Show All
                            </a-checkbox>
                          </div>
                          <a-checkbox-group
                            class="verticle"
                            v-model:value="statee.checkedList"
                            :options="plainOptions"
                          />
                        </template>
                      </a-popover>
                    </a-col>
                  </a-row>
                </a-col>
              </a-row>
              <a-divider />
              <a-row :gutter="24">
                <a-col :span="8" >
                  <a-card size="small">
                    <p>Total Revenue (June 01, 2023 - June 30, 2023)</p>
                    <h1>₹1,00,000.00</h1>
                  </a-card>
                </a-col>
                <a-col :span="8" >
                  <a-card size="small">
                    <a-row :gutter="16">
                      <a-col :span="8">
                        <p>UPI</p>
                        <h1>₹18,354.00</h1>
                      </a-col>
                      <a-col :span="8">
                        <div v-show="show">
                          <p>Cash</p>
                          <h1>₹149.00</h1>
                        </div>
                      </a-col>
                      <a-col :span="8">
                        <a-switch
                          v-model:checked="checked"
                          style="float: right"
                          @change="toggleSwitch"
                        />
                      </a-col>
                    </a-row>
                  </a-card>
                </a-col>
                <a-col :span="8">
                  <a-card size="small">
                    <p>Total Pending</p>
                    <h1>₹2,84,369.00</h1>
                  </a-card>
                </a-col>
              </a-row>
            </a-card>
          </div>
          <a-card>
            <a-spin :spinning="spinning">
              <a-table
                :columns="filteredColumns"
                :data-source="data"
                @change="onChange"
                :style="{
                  background: '#fff',
                }"
              >
                <template
                  #customFilterDropdown="{
                    setSelectedKeys,
                    selectedKeys,
                    confirm,
                    clearFilters,
                    column,
                  }"
                >
                  <div style="padding: 8px">
                    <a-input
                      ref="searchInput"
                      :placeholder="`Search ${column.dataIndex}`"
                      :value="selectedKeys[0]"
                      style="width: 188px; margin-bottom: 8px; display: block"
                      @change="
                        (e) =>
                          setSelectedKeys(
                            e.target.value ? [e.target.value] : []
                          )
                      "
                      @pressEnter="
                        handleSearch(selectedKeys, confirm, column.dataIndex)
                      "
                    />
                    <a-button
                      type="primary"
                      size="small"
                      style="width: 90px; margin-right: 8px"
                      @click="
                        handleSearch(selectedKeys, confirm, column.dataIndex)
                      "
                    >
                      <template #icon>
                        <SearchOutlined />
                      </template>
                      Search
                    </a-button>
                    <a-button
                      size="small"
                      style="width: 90px"
                      @click="handleReset(clearFilters)"
                    >
                      Reset
                    </a-button>
                  </div>
                </template>
                <template #customFilterIcon="{ filtered }">
                  <search-outlined
                    :style="{ color: filtered ? '#108ee9' : undefined }"
                  />
                </template>
                <template #bodyCell="{ text, column }">
                  <span
                    v-if="
                      state.searchText &&
                      state.searchedColumn === column.dataIndex
                    "
                  >
                    <template
                      v-for="(fragment, i) in text
                        .toString()
                        .split(
                          new RegExp(
                            `(?<=${state.searchText})|(?=${state.searchText})`,
                            'i'
                          )
                        )"
                    >
                      <mark
                        v-if="
                          fragment.toLowerCase() ===
                          state.searchText.toLowerCase()
                        "
                        :key="i"
                        class="highlight"
                      >
                        {{ fragment }}
                      </mark>
                      <template v-else>{{ fragment }}</template>
                    </template>
                  </span>
                  <template v-if="column.dataIndex === 'Action'">
                    <div>
                      <a-tooltip placement="top">
                        <template #title>
                          <span>Collect</span>
                        </template>
                        <span>
                          <a class="moneycollect" @click="showModal">
                            <MoneyCollectOutlined />
                          </a>
                        </span>
                      </a-tooltip>

                      <!-- open model  -->
                      <a-modal v-model:open="open" title="Payment" @ok="handleOk">
                        <template #footer>
                          <a-button key="submit" type="primary" :loading="loading" @click="handleOk" style="width:100%">Submit</a-button>
                        </template>
                        <a-descriptions :bordered="true" :column="2">
                          <a-descriptions-item label="Patient"
                            >Lonnie Chopra</a-descriptions-item
                          >
                          <a-descriptions-item label="Amount"
                            >₹3,892.00</a-descriptions-item
                          >
                        </a-descriptions>

                        <a-form
                          :model="formState"
                          layout="vertical"
                          name="basic"
                          @finish="handleFinish"
                          @finishFailed="handleFinishFailed"
                        >
                          <a-form-item
                            name="radio-button"
                            label="Payment Method "
                            :rules="[
                              {
                                required: true,
                                message: 'Please pick an item!',
                              },
                            ]"
                          >
                            <a-radio-group v-model:value="Cash">
                              <a-radio-button value="Cash">Cash</a-radio-button>
                              <a-radio-button value="UPI">UPI</a-radio-button>
                            </a-radio-group>
                          </a-form-item>
                          <a-form-item
                            has-feedback
                            label="Amount"
                            name="Amount"
                            :rules="[
                              {
                                required: true,
                                message: 'Please enter amount',
                              },
                            ]"
                          >
                            <a-input type="text" />
                          </a-form-item>
                          <a-form-item>
                            <template #footer>
                              <a-button
                                key="submit"
                                type="primary"
                                html-type="submit"
                                @click="handleOk"
                                stle="background-color:#0bca6b"
                                >Submit</a-button
                              >
                            </template>
                          </a-form-item>
                        </a-form>
                      </a-modal>
                      <a-tooltip placement="top">
                        <template #title>
                          <span>Remind Patient</span>
                        </template>
                        <span>
                          <a-popconfirm
                            title="On Confirm, a reminder will be sent to the patient. Are you sure?"
                            ok-text="Yes"
                            cancel-text="No"
                            @confirm="confirm"
                          >
                            <a class="mailbox">
                              <MailOutlined />
                            </a>
                          </a-popconfirm>
                        </span>
                      </a-tooltip>
                    </div>
                  </template>
                </template>
              </a-table>
            </a-spin>
          </a-card>
        </a-layout>
      </a-layout-content>
    </a-layout>
  </a-layout>
</template>
<script setup>
import {
  SearchOutlined,
  SettingOutlined,
  ArrowLeftOutlined,
  CloseOutlined,
  MoneyCollectOutlined,
  MailOutlined,
} from "@ant-design/icons-vue";
// import { useRouter } from "vue-router";
import { ref, reactive, watchEffect, watch, computed } from "vue";
import SlideView from "@/components/SlideView.vue";
import { useSpinnerStore } from "@/store/spinner";
import { useDrawerStore } from "../../store/drawer";
import { message } from "ant-design-vue";
import { storeToRefs } from "pinia";
const show = ref(false);
// const router = useRouter();
const checked = ref(false);
const showAllColumns = ref(false);
const visibledropdoun = ref(false);
const spinerstore = useSpinnerStore();
const { spinning } = storeToRefs(spinerstore);
const { startSpin } = spinerstore;
const open = ref(false);
const loading = ref(false);
const drawerStore = useDrawerStore();
const { goBack } = drawerStore;

const toggleSwitch = () => {
  show.value = checked.value;
};
const showModal = () => {
  open.value = true;
};

const handleOk = () => {
  loading.value = true;
  setTimeout(() => {
    loading.value = false;
    open.value = false;
  }, 2000);
};

const hide = () => {
  visibledropdoun.value = false;
};
const confirm = () => {
  message.success("Reminder Sent Successfully");
  startSpin();
};

const formState = reactive({
  "input-number": 3,
  "checkbox-group": ["A", "B"],
  rate: 3.5,
});

const columns = [
  {
    title: "Patient Name",
    dataIndex: "patientname",
    key: "patientname",
    sorter: (a, b) => a.patientname.length - b.patientname.length,
    sortDirections: ["descend", "ascend"],
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.patientname.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "Date",
    dataIndex: "date",
    key: "date",
    sorter: (a, b) => a.date.length - b.date.length,
    sortDirections: ["descend", "ascend"],
  },
  {
    title: "Amount",
    dataIndex: "amount",
    key: "amount",
    sorter: (a, b) => a.amount.length - b.amount.length,
    sortDirections: ["descend", "ascend"],
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.amount.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "Pending Since",
    dataIndex: "pandingsince",
    key: "pandingsince",
    sorter: (a, b) => a.pandingsince.length - b.pandingsince.length,
    sortDirections: ["descend", "ascend"],
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.pandingsince
        .toString()
        .toLowerCase()
        .includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "Action",
    dataIndex: "Action",
    key: "Action",
  },
];
const handleSearch = (selectedKeys, confirm, dataIndex) => {
  confirm();
  state.searchText = selectedKeys[0];
  state.searchedColumn = dataIndex;
};
const handleReset = (clearFilters) => {
  clearFilters({
    confirm: true,
  });
  state.searchText = "";
};
const state = reactive({
  searchText: "",
  searchedColumn: "",
});
const searchInput = ref();
const data = [
  {
    key: "1",
    patientname: "Lonnie Chopra	",
    date: "May 23, 2023	",
    amount: "₹3,892.00	",
    pandingsince: "29 days",
  },
  {
    key: "2",
    patientname: "Tonya Bhattathiri",
    date: "May 23, 2023	",
    amount: "₹4,821.00",
    pandingsince: "29 days",
  },
  {
    key: "3",
    patientname: "Louis Nambeesan	",
    date: "May 23, 2023	",
    amount: "₹959.00	",
    pandingsince: "29 days",
  },
  {
    key: "4",
    patientname: "Todd Asan",
    date: "May 23, 2023	",
    amount: "₹7,988.00",
    pandingsince: "29 days",
  },
  {
    key: "5",
    patientname: "Marianne Pothuvaal",
    date: "May 23, 2023	",
    amount: "₹7,621.00	",
    pandingsince: "29 days",
  },
  {
    key: "6",
    patientname: "Dr. Dana Adiga	",
    date: "May 23, 2023",
    amount: "₹8,112.00",
    pandingsince: "29 days	",
  },
];

const handleFinish = (values) => {
  console.log(values, formState);
};
const handleFinishFailed = (errors) => {
  console.log(errors);
};

function onChange(pagination, filters, sorter, extra) {
  console.log("params", pagination, filters, sorter, extra);
}

const filteredColumns = computed(() => {
  if (showAllColumns.value) {
    return columns;
  } else {
    return columns.filter((column) =>
      statee.checkedList.includes(column.dataIndex)
    );
  }
});

const plainOptions = [
  "patientname",
  "date",
  "amount",
  "pandingsince",
  "Action",
];
const defaultCheckedList = [
  "patientname",
  "date",
  "amount",
  "pandingsince",
  "Action",
];
const statee = reactive({
  indeterminate: true,
  checkAll: false,
  checkedList: defaultCheckedList,
});
const onShowAllChange = (checked) => {
  if (checked) {
    statee.checkedList = plainOptions;
  } else {
    statee.checkedList = [];
  }
};
watch(showAllColumns, (value) => {
  if (value) {
    statee.checkedList = plainOptions.slice();
  } else {
    statee.checkedList = defaultCheckedList.slice();
  }
});

watchEffect(() => {
  startSpin();
});
</script>
<style scoped>
.moneycollect {
  margin: 10px;
}

.mailbox {
  color: orange;
}
</style>
  
