<template>
    <a-layout >
        <SlideView />
        <a-layout>
          <a-layout-content
          class="container"
          :style="{
            background: '#f5f5f5',
            margin: 0,
            marginTop: '64px',
          }"
        >
          <a-layout style="padding: 0 24px 24px">
            <div class="breadcrumb">
              <a-card size="small">
                <a-row justify="space-between" align="middle">
                  <a-col :span="24">
                    <a-row align="middle" :gutter="[24]">
                      <a-col :span="14">
                        <a-breadcrumb>
                          <a-breadcrumb-item
                            ><router-link to="/">Home</router-link></a-breadcrumb-item
                          >
                          <a-breadcrumb-item
                            ><router-link to="/contacts"
                              >Contacts</router-link
                            ></a-breadcrumb-item
                          >
                        </a-breadcrumb>
                        <h1>Contacts</h1>
                      </a-col>
                      <a-col :span="10">
                        <a-tooltip placement="top">
                          <template #title>
                            <span>Back</span>
                          </template>
                          <a-button class="editable-add-btn backbutton" @click="goBack"
                            ><arrow-left-outlined
                          /></a-button>
                        </a-tooltip>
                        <a-popover
                          v-model:open="visibledropdoun"
                          placement="bottom"
                          trigger="click" 
                        >
                          <a-tooltip placement="top">
                            <template #title>
                              <span>Show/Hide Columns</span>
                            </template>
                            <a-button class="editable-add-btn settingbutton"
                              ><setting-outlined
                            /></a-button>
                          </a-tooltip>
                          <template #content>
                            <div>
                              Select Columns
                              <a @click="hide" style="float: right"><close-outlined/></a
                              ><br />
                            </div>
                            <div class="checkbox">
                              <a-checkbox
                                v-model:checked="showAllColumns"
                                :indeterminate="statee.indeterminate"
                                @change="onShowAllChange"
                              >
                                Show All
                              </a-checkbox>
                            </div>
                            <a-checkbox-group
                              class="verticle"
                              v-model:value="statee.checkedList"
                              :options="plainOptions"
                            />
                          </template>
                        </a-popover>
                        <a-tooltip placement="top">
                          <template #title>
                            <span>Add New contacts</span>
                          </template>
                          <a-button type="primary" class="editable-add-btn addbutton"  @click="openDrawerr()"
                            ><plus-outlined />
                          </a-button>
                        </a-tooltip>
                      </a-col>
                    </a-row>
                  </a-col>
                </a-row>
              </a-card>
            </div>
            <a-card>
            <a-spin :spinning="spinning">
                <a-table  
                :columns="filteredColumns"
                :data-source="data"
                :row-key="(record) => record.id"
                @change="onChange"
                :style="{
                  background: '#fff',
                  
                 
                }"
                >
                  <template
                    #customFilterDropdown="{
                      setSelectedKeys,
                      selectedKeys,
                      confirm,
                      clearFilters,
                      column,
                    }"
                  >
                    <div style="padding: 8px">
                      <a-input
                        ref="searchInput" 
                        :placeholder="`Search ${column.dataIndex}`"
                        :value="selectedKeys[0]"
                        style="width: 188px; margin-bottom: 8px; display: block"
                        @change="
                          (e) =>
                            setSelectedKeys(e.target.value ? [e.target.value] : [])
                        "
                        @pressEnter="
                          handleSearch(selectedKeys, confirm, column.dataIndex)
                        "
                      />
                      <a-button
                        type="primary"
                        size="small"
                        style="width: 90px; margin-right: 8px"
                        @click="
                          handleSearch(selectedKeys, confirm, column.dataIndex)
                        "
                      >
                        <template #icon>
                          <SearchOutlined />
                        </template>
                        Search
                      </a-button>
                      <a-button
                        size="small"
                        style="width: 90px"
                        @click="handleReset(clearFilters)"
                      >
                        Reset
                      </a-button>
                    </div>
                  </template>
                  <template #customFilterIcon="{ filtered }">
                    <search-outlined
                      :style="{ color: filtered ? '#108ee9' : undefined }"
                    />
                  </template>
                  <template #bodyCell="{ text, column , record}">
                    <span
                      v-if="
                        state.searchText &&
                        state.searchedColumn === column.dataIndex
                      "
                    >
                      <template
                        v-for="(fragment, i) in text
                          .toString()
                          .split(
                            new RegExp(
                              `(?<=${state.searchText})|(?=${state.searchText})`,
                              'i'
                            )
                          )"
                      >
                        <mark
                          v-if="
                            fragment.toLowerCase() ===
                            state.searchText.toLowerCase()
                          " 
                          :key="i"
                          class="highlight"
                        >
                          {{ fragment }}
                        </mark>
                        <template v-else>{{ fragment }}</template>
                      </template>
                    </span>
                    <template v-if="column.dataIndex === 'action'">
                      <div>
                        <a-tooltip placement="top">
                          <template #title>
                            <span>Show Doctor's Data</span>
                          </template>
                         <span>
                           <a class="viewicon" @click="viewcontact(record)">
                            <EyeOutlined />
                           </a>
                         </span>
                         </a-tooltip>
                        <a-tooltip placement="top">
                          <template #title>
                            <span>Edit contact's Data</span>  
                          </template>
                          <span>
                            <a class="editicon" @click="openDrawerr(record)">
                              <EditOutlined/>
                            </a>
                          </span>
                        </a-tooltip>
                        <a-tooltip placement="top">
                          <template #title>
                            <span>Remind contact's</span>
                          </template>
                          <span>
                            <a-tooltip placement="top">
                              <template #title>
                                <span>Delete contact's Data</span>
                              </template>
                            <span>
                              <a-popconfirm
                                title="Sure to cancel?"
                                @confirm="onDelete(record.id)"
                              >
                                <a class="deleteicon"><delete-outlined /></a>
                              </a-popconfirm>
                            </span>
                            </a-tooltip>
                          </span>
                        </a-tooltip>
                      </div>
                    </template>
                  </template>
                </a-table>
              </a-spin>
            </a-card>
          </a-layout>          
          </a-layout-content>

        </a-layout>
      </a-layout>
</template>
<script setup>
import {
  PlusOutlined,
  SettingOutlined,
  ArrowLeftOutlined, 
  DeleteOutlined,
  EditOutlined,
  EyeOutlined,
  CloseOutlined,
  SearchOutlined,
} from "@ant-design/icons-vue";
import { useDrawerStore } from '../../store/drawer'
import { useSpinnerStore } from '@/store/spinner';
import { message } from "antd";
import {  ref,  reactive  , watch , computed,onMounted } from "vue";
import SlideView from "@/components/SlideView.vue";
import { storeToRefs } from "pinia";

const showAllColumns = ref(false);
const visibledropdoun = ref(false); 
const selectedContact = ref(null);
const drawerStore = useDrawerStore();
const spinerstore = useSpinnerStore();
const { spinning } = storeToRefs(spinerstore)
const {  startSpin } = spinerstore;
const { goBack }= drawerStore
const hide = () => {
  visibledropdoun.value = false;
};



//open drawer add and edit contact
const openDrawerr = (selectedContact = null) => {
    drawerStore.openDrawer({
      title: selectedContact ? "Edit Contact" : "Add New Contact",
      childComponent: "StoreCo",
      data: selectedContact, 
      callback: refreshTable
    });
  };
  

//refresh table 
const refreshTable =  () => {
  try {
    const ContactsData =
      JSON.parse(localStorage.getItem("contacts-data")) || [];
    data.value = ContactsData;
    startSpin()
  } catch (error) {
    console.error(error);
  }        
};

//open drawer in view contact
const viewcontact = (record) => {
  selectedContact.value = record; 
  drawerStore.openDrawer({
    title: 'View Contact',
    childComponent: 'ShowCo',
    data: record
  });
};

//columns
const columns = [
  {
    title: "Name",
    dataIndex: "name",
    key: "name",
    sorter: (a, b) => a.name.length - b.name.length,
    sortDirections: ["descend", "ascend"],
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.name.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "Type",
    dataIndex: "type",
    key: "type",
    sorter: (a, b) => a.type.length - b.type.length,
    sortDirections: ["descend", "ascend"],
    filters: [
      {
        text: "Laboratory",
        value: "Laboratory",
      },
      {
        text: "MR",
        value: "MR",
      },
      {
        text: "Drugist",
        value: "Drugist",
      },
      {
        text: "Scanning Center",
        value: "Scanning Center",
      }
    ],

    onFilter: (value, record) => record.gender.indexOf(value) === 0,
  },
  {
    title: "Contact Number",
    dataIndex: "contactno",
    key: "contactno",
    sorter: (a, b) => a.contactno.length - b.contactno.length,
    sortDirections: ["descend", "ascend"],
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.contactno.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "Email",
    dataIndex: "email",
    key: "email",
    sorter: (a, b) => a.email.length - b.email.length,
    sortDirections: ["descend", "ascend"],
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.email
        .toString()
        .toLowerCase()
        .includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "Address Line 1",
    dataIndex: "address1",
    key: "address1",
    sorter: (a, b) => a.city.length - b.city.length,
    sortDirections: ["descend", "ascend"],
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.city.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "Address Line 2",
    dataIndex: "address2",
    key: "address2",
    sorter: (a, b) => a.city.length - b.city.length,
    sortDirections: ["descend", "ascend"],
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.city.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "City",
    dataIndex: "city",
    key: "city",
    sorter: (a, b) => a.city.length - b.city.length,
    sortDirections: ["descend", "ascend"],
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.city.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "Action",
    dataIndex: "action",
    key:"action"
  
  },
];
const handleSearch = (selectedKeys, confirm, dataIndex) => {
  confirm();
  state.searchText = selectedKeys[0];
  state.searchedColumn = dataIndex;
};

const handleReset = (clearFilters) => {
  clearFilters({
    confirm: true,
  });
  state.searchText = "";
};

//fetch data localstorage
const fetchData = () => {
  const contactsData = JSON.parse(localStorage.getItem("contacts-data")) || [];
  data.value = contactsData;
};

//delete in local storage
const onDelete = (id) => {
  const contactsData = JSON.parse(localStorage.getItem("contacts-data")) || [];
  const index = contactsData.findIndex((doctor) => doctor.id === id);
  if (index !== -1) {
    contactsData.splice(index, 1);
    localStorage.setItem("contacts-data", JSON.stringify(contactsData));
    message.success("contact's data deleted successfully");
    refreshTable()
  
   }  
}; 
 
const state = reactive({
  searchText: "",
  searchedColumn: "",
});
const searchInput = ref();
const data = ref([]);  

function onChange(pagination, filters, sorter, extra) {
  console.log("params", pagination, filters, sorter, extra);
}

const filteredColumns = computed(() => {
  if (showAllColumns.value) {
    return columns;
  } else {
    return columns.filter((column) =>
      statee.checkedList.includes(column.dataIndex)
    );
  }
});

const plainOptions = [ 
"name",
  "type",
  "contactno",
  "email",
  "address1",
  "address2",
  "city",
  "action",
];
const defaultCheckedList = [
    "name",
  "type",
  "contactno",
  "email",
  "city",
  "action",
];
const statee = reactive({
  indeterminate: true,
  checkAll: false,
  checkedList: defaultCheckedList,
});
const onShowAllChange = (checked) => {
  if (checked) {
    statee.checkedList = plainOptions;
  } else {
    statee.checkedList = [];
  }
};

watch(showAllColumns, (value) => {
  if (value) {
    statee.checkedList = plainOptions.slice(); 
  } else {
    statee.checkedList = defaultCheckedList.slice(); 
  }
});


watch(data, () => {
  startSpin();
});
onMounted(fetchData);

</script>
<style scoped>
</style>