<template>
  <a-layout>
    <SlideView />

    <a-layout>
      <a-layout-content
        class="container"
        :style="{
          background: '#f5f5f5',
          margin: 0,
          marginTop: '64px',
        }"
      >
        <a-layout style="padding: 0 24px 24px">
          <div class="breadcrumb">
            <a-card size="small">
              <a-row justify="space-between" align="middle">
                <a-col :span="24">
                  <a-row align="middle" :gutter="[24]">
                    <a-col :span="10">
                      <a-breadcrumb style="margin: 16px 0">
                        <a-breadcrumb-item
                          ><router-link to="/"
                            >Home</router-link
                          ></a-breadcrumb-item
                        >
                        <a-breadcrumb-item
                          ><router-link to="/lab-reports"
                            >Lab Reports</router-link
                          ></a-breadcrumb-item
                        >
                      </a-breadcrumb>
                      <h1>Lab Reports</h1>
                    </a-col>
                    <a-col :span="13">
                      <a-space direction="vertical" :size="12">
                        <a-range-picker />
                      </a-space>
                      <a-button type="primary" style="margin-left:5px">search</a-button>
                    </a-col>
                    <a-col :span="1">
                      <a-tooltip placement="top">
                        <template #title>
                          <span>Back</span>
                        </template>
                        <a-button
                          class="editable-add-btn backbutton"
                          @click="goBack"
                          ><arrow-left-outlined
                        /></a-button>
                      </a-tooltip>
                    </a-col>
                  </a-row>
                </a-col>
              </a-row>
            </a-card>
          </div>

          <!-- <a-spin :spinning="spinning"> -->
        <a-card>
          <a-table
          ref="table" 
            :columns="columns"
            :data-source="data"
            class="tabel"
            :pagination="{ pageSize: 20 }"
          >
            <template #expandedRowRender>
              <a-table
                :columns="innerColumns"
                :data-source="innerData"
                :pagination="false"
                :style="{
                  background: '#fff',
                  padding: '10px',
                  margin: 0,
                }"
               
              >
              </a-table>
            </template>
          </a-table>
        </a-card>
          <!-- </a-spin> -->
        </a-layout>
      </a-layout-content>
    </a-layout>
  </a-layout>
</template>
<script setup>
import { watchEffect } from "vue";
import SlideView from "@/components/SlideView.vue";
import { ArrowLeftOutlined } from "@ant-design/icons-vue";
import { useSpinnerStore } from "@/store/spinner";
import { useDrawerStore } from "@/store/drawer";
const spinerstore = useSpinnerStore();
const { startSpin } = spinerstore;
const drawerStore = useDrawerStore();
const { goBack } = drawerStore;

const columns = [
  {
    title: "Laboratory Name",
    dataIndex: "laboratoryname",
    key: "laboratoryname",
  },
  {
    title: "Total Patients",
    dataIndex: "totalpatients",
    key: "totalpatients",
  },
];
const data = [];
for (let i = 0; i < 25; ++i) {
  data.push({
    key: i,
    laboratoryname: "LAB-192-ABB",
    totalpatients: "4",
  });
}
const innerColumns = [
  {
    title: "Patient Name",
    dataIndex: "patientsname",
    key: "laboratryname",
  },
  {
    title: "Report No.",
    dataIndex: "reportno",
    key: "reportno",
  },
  {
    title: "Report Date",
    dataIndex: "reportdate",
    key: "reportdate",
  },
  {
    title: "Amount",
    dataIndex: "amount",
    key: "amount",
  },
];
const innerData = [];
for (let i = 0; i < 3; ++i) {
  innerData.push({
    key: i,
    patientsname: "Dr. Russell Bharadwaj",
    reportno: "205003	",
    reportdate: "July 06, 2023",
    amount: "₹5,658.00",
  });
}
watchEffect(() => {
  startSpin();
});
</script>
<style scoped>
</style>