<template>
  <div class="login-container">
    <a-card class="card">
    <div class="image-container" >
      <a-image
        :width="600"
        :height="600"
        src="https://www.antdv.com/#error"
        :fallback="currentImage"
      />
 
    </div>
  </a-card>
    <div class="form-container">
      <a-form
        @finish="onSubmit"
        :model="record"
        :rules="rules"
        layout="vertical"
      >
        <a-row :gutter="[20, 10]">
          <a-col span="24" style="margin-bottom: 16px">
            <a-typography-title :level="3" style="margin-bottom: 0">
              Welcome back 👋
            </a-typography-title>
            <a-typography-text type="secondary">
              Enter our Credentials to continue
            </a-typography-text>
          </a-col>
          <a-col :span="16">
            <a-form-item label="Phone No." name="mobile">
              <a-input-number
                v-model:value="record.mobile"
                :controls="false"
                placeholder="Enter your mobile no."
                style="width: 100%"
                type="mobile"
              />
            </a-form-item>
          </a-col>
          <a-col :span="16">
            <a-form-item label="Password" name="password">
              <a-input-password
                v-model:value="record.password"
                placeholder="Enter your password here"
              />
            </a-form-item>
          </a-col>
          <a-col :span="16">
            <a-button
              :loading="loading"
              block
              html-type="submit"
              type="primary"
            >
              Login
            </a-button>
          </a-col>
          <a-col :span="16">
            <a-row justify="space-between">
              <a-col>
                <a-typography-text type="secondary" >
                  Don't have an account?
                  <router-link to="/register" >Register</router-link>
                </a-typography-text>
              </a-col>
              <a-col>
                <router-link to="/reset-password" >Forgot Password?</router-link>
              </a-col>
            </a-row>
          </a-col>
        </a-row>
      </a-form>
    </div>
  </div>
</template>
<script setup>
import { message } from "ant-design-vue";
import {ref,  reactive , onMounted } from "vue";
import { useRouter } from "vue-router";

const router = useRouter();

const rules = {
  mobile: [
    { required: true, message: "mobile is requered" },
    { type: "number", message: "Invalid mobile no." },
  ],
  password: { required: true, message: "password is required" },
};
const record = reactive({
  mobile: '',
  password: '',
});

const images = [
    "http://localhost:3000/src/assets/images/carousel_1.svg",
    "http://localhost:3000/src/assets/images/carousel_2.svg",
    "http://localhost:3000/src/assets/images/carousel_4.svg",
    "http://localhost:3000/src/assets/images/carousel_3.svg"

   
  ];

  localStorage.getItem("isLoggedIn");


async function onSubmit() {
  const registeredUsers = JSON.parse(localStorage.getItem("Register_Users")) || [];
  const user = registeredUsers.find(
    (user) => user.mobile === record.mobile && user.password === record.password
  );


  if (user) {
    message.success("User Login successfully");

    // Set the isLoggedIn flag in localStorage
    localStorage.setItem("isLoggedIn", "true");

    router.push("/");
  } else {
    message.error("Invalid credentials. Please try again.");
  }
}

const currentImageIndex = ref(0);
  const currentImage = ref(images[currentImageIndex.value]);
  
  function changeImage() {
    currentImageIndex.value = (currentImageIndex.value + 1) % images.length;
    currentImage.value = images[currentImageIndex.value];
  }
  
  onMounted(() => {
    setInterval(changeImage, 3000); 
  });
  
</script>
<style scoped>
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.image-container {
  width: 50%;
}

.form-container {
  width: 50%;
padding-left: 200px;
}
.card{
  border: 1px black;
 height: 100%;
 width: 50%;
}
</style>

