<template>
  <div class="login-container">
    <a-card class="card">
    <div class="image-container">
      <a-image
        :width="600"
        :height="600"
        src="https://www.antdv.com/#error"
        :fallback="currentImage"
      />
    </div>
  </a-card>
    <div class="form-container">
      <a-form
        @finish="onSubmit"
        :disabled="loading"
        :model="record"
        :rules="rules"
        hide-required-mark
        layout="vertical"
      >
        <a-row  style="width:500px">
          <a-col span="24" style="margin-bottom: 10px">
            <a-typography-title :level="3" style="margin-bottom: 0"> Sign up! </a-typography-title>
            <a-typography-text :level="3" style="margin-bottom: 0">
              Lets get you started with your account
            </a-typography-text>
          </a-col>
          <a-col :span="24">
            <a-form-item label="Business Name" name="business_name">
              <a-input
                v-model:value="record.business_name"
                placeholder="Enter your business name"
              >
              </a-input>
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="First Name" name="first_name">
              <a-input
                v-model:value="record.first_name"
                placeholder="Enter your first name"
              >
              </a-input>
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="Last name" name="last_name">
              <a-input
                v-model:value="record.last_name"
                placeholder="Enter your last name"
              >
              </a-input>
            </a-form-item>
          </a-col>
          <a-col :span="24">
            <a-form-item label="Email" name="email">
              <a-input
                v-model:value="record.email"
                placeholder="Enter your email"
                type="email"
              >
              </a-input>
            </a-form-item>
          </a-col>
          <a-col :span="24">
            <a-form-item label="Mobile No." name="mobile">
              <a-input-number
                v-model:value="record.mobile"
                style="width: 100%"
                placeholder="Enter your mobile number"
              >
              </a-input-number>
            </a-form-item>
          </a-col>
          <a-col :span="24">
            <a-form-item label="Password" name="password">
              <a-input-password
                v-model:value="record.password"
                placeholder="Enter desired password here"
              >
              </a-input-password>
            </a-form-item>
          </a-col>
          <a-col :span="24">
            <a-button :loading="loading" block htmlType="submit" type="primary" > 
              Register
            </a-button>
          </a-col>
          <a-col>
            <a-typography-text>
              Already have an account? <router-link to="/" >Login</router-link>
            </a-typography-text>
          </a-col>
        </a-row>
      </a-form>
    </div>
  </div>
</template>
<script setup>
import { ref, reactive ,onMounted} from "vue";
import { useRouter } from "vue-router";
import { message } from "ant-design-vue";
import { v4 as generateUniqueId } from "uuid";

const router = useRouter();

const record = reactive({
  business_name: "",
  first_name: "",
  last_name: "",
  email: "",
  mobile: "",
  password: "",
});

const images = [
    "http://localhost:3000/src/assets/images/carousel_1.svg",
    "http://localhost:3000/src/assets/images/carousel_2.svg",
    "http://localhost:3000/src/assets/images/carousel_4.svg",
    "http://localhost:3000/src/assets/images/carousel_3.svg"
  ];

const rules = {
  business_name: { required: true, message: "Business name is required" },
  first_name: { required: true, message: "First name is required" },
  last_name: { required: true, message: "Last name is required" },
  email: [
    { required: true, message: "Email is required" },
    { type: "email", message: "Invalid email" },
  ],
  mobile: { required: true, message: "Contact number is required" },
};

 localStorage.getItem("isRegistered")

async function onSubmit() {
  const res = JSON.parse(localStorage.getItem("Register_Users")) || [];
  record.id = generateUniqueId();
  res.push(record);
  message.success("User Register sucessfully");

  localStorage.setItem("isRegistered" , "true");

  localStorage.setItem("Register_Users", JSON.stringify(res));
  router.push("/");
}
const currentImageIndex = ref(0);
  const currentImage = ref(images[currentImageIndex.value]);
  
  function changeImage() {
    currentImageIndex.value = (currentImageIndex.value + 1) % images.length;
    currentImage.value = images[currentImageIndex.value];
  }
  
  onMounted(() => {
    setInterval(changeImage, 3000); 
  });
</script>

<style scoped>
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.image-container {
  width: 50%;
}

.form-container {
  width: 50%;
padding-left: 150px;
}
.card{
  border: 1px black;
 height: 100%;
 width: 50%;
}
</style>

