<template>
    <div class="login-container">
        <div class="image-container">
          <a-image
            :width="600"
            :height="600"
            src="https://www.antdv.com/#error"
            fallback="https://www.drlewisramos.com/wp-content/uploads/2023/03/Importancia-de-la-mamografia.png"
          />
          <!-- <a-image
          :width="600"
          :height="600"
          src="https://www.antdv.com/#error"
          fallback="https://www.drlewisramos.com/wp-content/uploads/2023/03/Prevencion-y-deteccion-temprano.png"
        /> -->
        <!-- https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlcUK_EwYEF6J5pAzdWUgkDpYXx2BOm0MnxcApW-hEgiOjFVJU -->
        </div>
        <a-form
        @finish="onSubmit"
        :model="record"
        :rules="rules"
        hide-reqired-mark
        layout="vertical"
        >
            <a-row :gutter="[20, 10]">
                <a-col :span="24" style="margin-bottom:16px">
                    <a-typography-text :level="3" style="margin-bottom:0">
                        <h2>   Forgot Pssword? </h2> 
                    </a-typography-text><br/>
                    <a-typography-text type="secondary">
                      No worries. we'll send ou the reset instructions.
                    </a-typography-text>
                </a-col>
                <a-col :span="24">
                    <a-form-item label="Email" name="email">
                        <a-input
                        v-model:value="record.email"
                        placeholder="Enter your email"
                        type="email"
                        >
                            <template #prefix>
                                <MailOutlined/>
                            </template>
                        </a-input>
                    </a-form-item>
                </a-col>
                <a-col :span="24">
                    <a-alert
                    v-if="success"
                    :message="successMessage"
                    show-icon
                    type="success"
                    >                    
                    </a-alert>
                </a-col>
                <a-col :span="24">
                    <a-button :loading="loading" block html-type="submit" type="primary" >
                        Submit
                    </a-button>
                </a-col>
                <a-col :span="24">
                    <router-link to="/">
                        <a-button type="text">
                            <ArrowLeftOutlined/>
                            Back tp Login
                        </a-button>
                    </router-link>
                </a-col>
            </a-row>
        </a-form>
        </div>
</template>
<script setup>
import { ArrowLeftOutlined, MailOutlined } from '@ant-design/icons-vue';
import {ref, reactive  } from 'vue';

const rules = {
    email: [
      { required: true, message: "Email is required" },
      { type: "email", message: "Invalid email" },
    ],
  };
  
  const record = reactive({
    email: null,
  });

  const loading = ref(false);
  const success = ref(false);
  const successMessage =
    "Requested Submitted. If the account exists, we'll send" +
    " you the reset instructions. Please check your email.";


    const onSubmit = async () => {
    loading.value = true;
    success.value = false;
    try {
      await new Promise((resolve) => {
        setTimeout(() => {
          success.value = true;
          resolve();
        }, 2000);
      });
    } catch (e) {
      console.log(e);
    } finally {
      loading.value = false;
    }
  };
</script>
<style scoped>
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .image-container {
    flex: 1;
    /* Add styling for the image carousel container */
  }
  
  .form-container {
    flex: 1;
    /* Add styling for the login form container */
  }
</style>