<template>
  <a-layout>
    <SlideView />

    <a-layout >
      <a-layout-content

          :style="{
            background: '#f5f5f5',
            margin: 0,
            marginTop: '64px',
          }"
        >
      <a-layout style="padding: 0 24px 24px">
        <div class="breadcrumb">
          <a-card size="small">
            <a-row justify="space-between" align="middle">
              <a-col :span="24">
                <a-row align="middle" :gutter="[24]">
                    <a-col :span="14" >
                <a-breadcrumb >
                  <a-breadcrumb-item
                    ><router-link to="/">Home</router-link></a-breadcrumb-item
                  >
                  <a-breadcrumb-item
                    ><router-link to="/announcements"
                      >Announcements</router-link
                    ></a-breadcrumb-item
                  >
                </a-breadcrumb>
                <h1>Announcements</h1>
              </a-col>
              <a-col :span="10">
                <a-tooltip placement="top">
                  <template #title>
                    <span>Back</span>
                  </template>
                  <a-button class="editable-add-btn backbutton" @click="goBack"
                    ><arrow-left-outlined
                  /></a-button>
                </a-tooltip>
                <a-popover
                  v-model:open="visibledropdoun"
                  placement="bottom"
                  trigger="click"
                >
                  <a-tooltip placement="top">
                    <template #title>
                      <span>Show/Hide Columns</span>
                    </template>
                    <a-button class="editable-add-btn settingbutton"
                      ><setting-outlined
                    /></a-button>
                  </a-tooltip>
                  <template #content>
                    <div>
                      Select Columns
                      <a @click="hide" style="float: right"><close-outlined /></a
                      ><br />
                    </div>
                    <div class="checkbox">
                      <a-checkbox
                        v-model:checked="showAllColumns"
                        :indeterminate="statee.indeterminate"
                        @change="onShowAllChange"
                      >
                        Show All
                      </a-checkbox>
                    </div>
                    <a-checkbox-group
                      class="verticle"
                      v-model:value="statee.checkedList"
                      :options="plainOptions"
                    />
                  </template>
                </a-popover>
                <a-tooltip placement="top">
                  <template #title>
                    <span>Add New Anouncements</span>
                  </template>
                  <a-button type="primary" class="editable-add-btn addbutton" @click="openDrawerr()"
                    ><plus-outlined />
                  </a-button>
                </a-tooltip>
              </a-col>
            </a-row>
            </a-col>
            </a-row>
          </a-card>
        </div>
       
        
          <a-spin :spinning="spinning">
            <a-table
              :columns="filteredColumns"
              :data-source="data"
              @change="onChange"
              :style="{
                background: '#fff',
                padding: '10px',
                margin: 0,
               
              }"
              :pagination="{ pageSize: 20 }"
            >
              <template
                #customFilterDropdown="{
                  setSelectedKeys,
                  selectedKeys,
                  confirm,
                  clearFilters,
                  column,
                }"
              >
                <div style="padding: 8px">
                  <a-input
                    ref="searchInput"
                    :placeholder="`Search ${column.dataIndex}`"
                    :value="selectedKeys[0]"
                    style="width: 188px; margin-bottom: 8px; display: block"
                    @change="
                      (e) =>
                        setSelectedKeys(e.target.value ? [e.target.value] : [])
                    "
                    @pressEnter="
                      handleSearch(selectedKeys, confirm, column.dataIndex)
                    "
                  />
                  <a-button
                    type="primary"
                    size="small"
                    style="width: 90px; margin-right: 8px"
                    @click="
                      handleSearch(selectedKeys, confirm, column.dataIndex)
                    "
                  >
                    <template #icon>
                      <SearchOutlined />
                    </template>
                    Search
                  </a-button>
                  <a-button
                    size="small"
                    style="width: 90px"
                    @click="handleReset(clearFilters)"
                  >
                    Reset
                  </a-button>
                </div>
              </template>
              <template #customFilterIcon="{ filtered }">
                <search-outlined
                  :style="{ color: filtered ? '#108ee9' : undefined }"
                />
              </template>
              <template #bodyCell="{ text, column, record }">
                <span
                  v-if="
                    state.searchText &&
                    state.searchedColumn === column.dataIndex
                  "
                >
                  <template
                    v-for="(fragment, i) in text
                      .toString()
                      .split(
                        new RegExp(
                          `(?<=${state.searchText})|(?=${state.searchText})`,
                          'i'
                        )
                      )"
                  >
                    <mark
                      v-if="
                        fragment.toLowerCase() ===
                        state.searchText.toLowerCase()
                      "
                      :key="i"
                      class="highlight"
                    >
                      {{ fragment }}
                    </mark>
                    <template v-else>{{ fragment }}</template>
                  </template>
                </span>
                <template v-if="column.dataIndex === 'Action'">
                  <div>
                    <span>
                      <a class="viewicon" @click="viewAnnouncement(record)"
                        ><eye-outlined
                      /></a>
                    </span>
                  </div>
                </template>
              </template>
            </a-table>
          </a-spin>
      </a-layout>
    </a-layout-content>
    </a-layout>
    
  </a-layout>
</template>
<script setup>
// import StoreA from "./StoreA.vue";
import SlideView from "@/components/SlideView.vue";
import { useSpinnerStore } from "@/store/spinner";
import { useDrawerStore } from "../../store/drawer";
import {
  PlusOutlined,
  SettingOutlined,
  ArrowLeftOutlined,
  CloseOutlined,
  SearchOutlined,
  EyeOutlined,
} from "@ant-design/icons-vue";
import { ref, reactive, watchEffect, computed, watch, onMounted } from "vue";
import { storeToRefs } from "pinia";
import dayjs from "dayjs";

const showAllColumns = ref(false);
const visibledropdoun = ref(false);
const selectedAnounce = ref(null);
const spinerstore = useSpinnerStore();
const { spinning } = storeToRefs(spinerstore);
const { startSpin } = spinerstore;
const drawerStore = useDrawerStore();
const { goBack } = drawerStore;
const hide = () => {
  visibledropdoun.value = false;
};

//open  drawer in add and edit
const openDrawerr = () => {
  drawerStore.openDrawer({
    title: "Add Announcement",
    childComponent: "StoreA",
    callback: refreshTable,
  });
};

//open drawer in view announcement
const viewAnnouncement = (record) => {
  selectedAnounce.value = record;
  drawerStore.openDrawer({
    title: "View Announcement",
    childComponent: "ShowA",
    data: record,
  });
};

//table columns
const columns = [
  {
    title: "Date",
    dataIndex: "date",
    key: "date",
    sorter: (a, b) => a.date.length - b.date.length,
    sortDirections: ["descend", "ascend"],
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.date.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
    customRender: ({ text }) => dayjs(text).format("MMMM DD, YYYY"),
  },
  {
    title: "Message",
    dataIndex: "message",
    key: "message",
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.message.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "Characters",
    dataIndex: "characters",
    key: "characters",
    sorter: (a, b) => a.characters.length - b.characters.length,
    sortDirections: ["descend", "ascend"],
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.characters.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "No. of SMS",
    dataIndex: "noofsms",
    key: "noofsms",
    sorter: (a, b) => a.noofsms.length - b.noofsms.length,
    sortDirections: ["descend", "ascend"],
  },

  {
    title: "Action",
    dataIndex: "Action",
    key: "action",
  },
];
const handleSearch = (selectedKeys, confirm, dataIndex) => {
  confirm();
  state.searchText = selectedKeys[0];
  state.searchedColumn = dataIndex;
};
const handleReset = (clearFilters) => {
  clearFilters({
    confirm: true,
  });
  state.searchText = "";
};

const fetchData = () => {
  const announcementsData =
    JSON.parse(localStorage.getItem("announcements-data")) || [];
  data.value = announcementsData;
};

const refreshTable = () => {
  try {
    const announcementsData =
      JSON.parse(localStorage.getItem("announcements-data")) || [];
    data.value = announcementsData;
    startSpin();
  } catch (error) {
    console.error(error);
  }
};

const state = reactive({
  searchText: "",
  searchedColumn: "",
});
const searchInput = ref();

const data = ref([]);

function onChange(pagination, filters, sorter, extra) {
  console.log("params", pagination, filters, sorter, extra);
}

const filteredColumns = computed(() => {
  if (showAllColumns.value) {
    return columns;
  } else {
    return columns.filter((column) =>
      statee.checkedList.includes(column.dataIndex)
    );
  }
});

const plainOptions = ["date", "message", "characters", "noofsms", "Action"];
const defaultCheckedList = [
  "date",
  "message",
  "characters",
  "noofsms",
  "Action",
];

const statee = reactive({
  indeterminate: true,
  checkAll: false,
  checkedList: defaultCheckedList,
});
const onShowAllChange = (checked) => {
  if (checked) {
    statee.checkedList = plainOptions;
  } else {
    statee.checkedList = [];
  }
};
watch(showAllColumns, (value) => {
  if (value) {
    statee.checkedList = plainOptions.slice();
  } else {
    statee.checkedList = defaultCheckedList.slice();
  }
});

watchEffect(() => {
  const announcementsData =
    JSON.parse(localStorage.getItem("announcements-data")) || [];
  data.value = announcementsData;
  startSpin();
});

onMounted(fetchData);
</script>
<style scoped>
</style>