<template>
  <a-layout class="my-component">
    <a-layout id="components-layout-demo-custom-trigger">
      <SlideView />
      <a-layout>
        <a-layout-content
          :style="{
           
            padding: '24px',
            background: '#f5f5f5',
            marginTop: '64px',
          }"
        >
          <div style="background-color:#f5f5f5; ">
            <a-row :gutter="16">
              <a-col :span="8" class="cardcontainer">
                <a-card size="small" :bordered="false">
                  <h3>Total Patients</h3>
                  <p>100</p>
                </a-card>
              </a-col>
              <a-col :span="8" class="cardcontainer">
                <a-card size="small" :bordered="false">
                  <h3>Today's Patients</h3>
                  <p>28</p>
                </a-card>
              </a-col>
              <a-col :span="8" class="cardcontainer">
                <a-card size="small" :bordered="false">
                  <h3>New Patients</h3>
                  <p>11</p>
                </a-card>
              </a-col>
            </a-row>
          </div>
          <div style="display: flex; justify-content: space-between;">
            <div style="width: 49.5%;">
              <a-card size="small" title="New vs. Returning" :bordered="false">
                <div id="circularChart" style="height: 400px;"></div>
              </a-card>
            </div>
            <div style="width: 49.5%;">
              <a-card size="small" title="Monthly Revenue Summary" :bordered="false">
                <div id="lineChart" style="height: 400px;"></div>
              </a-card>
            </div>
          </div>
        </a-layout-content>
      </a-layout>
    </a-layout>
  </a-layout>
</template>

<script setup>
import SlideView from "@/components/SlideView.vue";
import {  onMounted } from "vue";
  import { Line, Pie } from "@antv/g2plot";
  
  onMounted(() => {
    const circularData = [
      { type: "Returnig", value: 83 },
      { type: "New", value: 17 },

    ];
  
    const lineData = [
      { Month: "August", Revenue: 1822819 },
      { Month: "September", Revenue: 7427056 },
      { Month: "October", Revenue: 2954014 },
      { Month: "November", Revenue: 6406181 },
      { Month: "December", Revenue: 3845194 },
      { Month: "January", Revenue: 9621614 },
      { Month: "February", Revenue: 9282645 },
      { Month: "March", Revenue: 8718355 },
      { Month: "April", Revenue: 8559980 },
      { Month: "May", Revenue: 9258376 },
      { Month: "June", Revenue: 8682469 },
      { Month: "Julay", Revenue: 2534354 },
    ];
  
    const circularChart = new Pie("circularChart", {
      data: circularData,
      angleField: "value",
      colorField: "type",
      radius: 1,
      color: ["#00b96b", "#a5d46d"],
      label: {
      type: "inner",
      offset: "-30%",
      content: ({ percent }) => `${(percent * 100).toFixed(0)}%`,
      style: {
        fontSize: 14,
        textAlign: "center",
      },
    },
    interactions: [{ type: "element-active" }],
    });
    circularChart.render();
  
    const lineChart = new Line("lineChart", {
      data: lineData,
      xField: "Month",
      yField: "Revenue",
      xAxis: {
    range: [0, 1],
    tickCount: 5,
    formatter: ({ Revenue }) => {
      return {
        name: "Revenue",
        value: Revenue,
      };
    },
  },
  areaStyle: () => {
    return {
      fill: "l(270) 0:#ffffff 0.5:#7ec2f3 1:#1890ff",
    };
  },

    });
    lineChart.render();
  });

 
</script>

<style scoped >
.my-component {
  color: var(--default-color);
  color:var(--primary-color);
  color:var(--link-hover);
  color:var( --link-active);
  /* Additional styles for the component */
}
.cardcontainer {
  margin-bottom: 10px;
  border-radius: 10px;
}
</style>
