
<template>
  <a-form
    :model="form"
    layout="vertical"
    name="basic"
    :rules="rules"
    @finish="saveData"
  >
    <a-row :gutter="16">
      <a-col :span="8">
        <a-form-item label="First Name" name="firstname">
          <a-input
            v-model:value="form.firstname"
            placeholder="Please enter first name"
            allow-clear
          />
        </a-form-item>
      </a-col>
      <a-col :span="8">
        <a-form-item label="Middle Name" name="middlename">
          <a-input
            v-model:value="form.middlename"
            placeholder="Please enter middle name"
            allow-clear
          />
        </a-form-item>
      </a-col>
      <a-col :span="8">
        <a-form-item label="Last Name" name="lastname">
          <a-input
            v-model:value="form.lastname"
            placeholder="Please enter last name"
            allow-clear
          />
        </a-form-item>
      </a-col>
    </a-row>
    <a-row :gutter="16">
      <a-col :span="12">
        <a-form-item label="Mobile No." name="mobileno">
          <a-input
            v-model:value="form.mobileno"
            placeholder="Please enter mobile no."
            allow-clear
          />
        </a-form-item>
      </a-col>
      <a-col :span="12">
        <a-form-item
          label="email"
          name="email"
          :rules="[
            { type: 'email', message: 'Please enter a valid email address!' },
          ]"
        >
          <a-input
            v-model:value="form.email"
            placeholder="Please enter email id"
            allow-clear
          />
        </a-form-item>
      </a-col>
    </a-row>
    <a-row :gutter="16">
      <a-col :span="12">
        <a-form-item label="Date Of Birth" name="dateofbirth">
          <a-date-picker
            v-model:value="form.dateofbirth"
            format="MMMM DD, YYYY"
            style="width: 100%"
            :disabled-date="disabledDate"
          />
        </a-form-item>
        <p v-if="form.dateofbirth" style="color: #cec7c7">
          {{ getAge() }} old
        </p>
      </a-col>
      <a-col :span="12">
        <a-form-item label="Gender" name="gender">
          <a-select
            placeholder="Please choose the Gender"
            v-model:value="form.gender"
          >
            <a-select-option value="male">Male</a-select-option>
            <a-select-option value="female">Female</a-select-option>
            <a-select-option value="other">Other</a-select-option>
          </a-select>
        </a-form-item>
      </a-col>
    </a-row>
    <a-row :gutter="16">
      <a-col :span="24">
        <a-form-item label="Address#1" name="address1">
          <a-input
            v-model:value="form.address1"
            :rows="2"
            placeholder="please enter url address 1"
            allow-clear
          />
        </a-form-item>
      </a-col>
    </a-row>
    <a-row :gutter="16">
      <a-col :span="24">
        <a-form-item label="Address#2" name="address2">
          <a-input
            v-model:value="form.address2"
            :rows="2"
            placeholder="please enter url address 2"
            allow-clear
          />
        </a-form-item>
      </a-col>
    </a-row>
    <a-row :gutter="16">
      <a-col :span="8">
        <a-form-item label="City" name="city">
          <a-input
            v-model:value="form.city"
            placeholder="Please enter city "
            allow-clear
          />
        </a-form-item>
      </a-col>
      <a-col :span="8">
        <a-form-item label="State" name="state">
          <a-input
            v-model:value="form.state"
            placeholder="Please enter state "
            allow-clear
          />
        </a-form-item>
      </a-col>
      <a-col :span="8">
        <a-form-item label="Pincode" name="pincode">
          <a-input
            v-model:value="form.pincode"
            placeholder="Please enter pincode "
            allow-clear
          />
        </a-form-item>
      </a-col>
    </a-row>
    <div
      :style="{
        position: 'absolute',
        right: 0,
        bottom: 0,
        width: '96%',
        borderTop: '1px solid #e9e9e9',
        padding: '10px 16px',
        background: '#fff',
        textAlign: 'right',
        zIndex: 1,
      }"
    >
      <a-form-item>
        <a-button style="margin-right: 8px" @click="closeDrawer()">
          Cancel
        </a-button>
        <a-button
          type="primary"
          html-type="submit"
        >
          {{ form.id ? "Update" : "Add" }}
        </a-button>
      </a-form-item>
    </div>
  </a-form>
</template>  
<script setup>
import { v4 as uuidv4 } from "uuid";
import { reactive, defineProps, watchEffect, onMounted } from "vue";
import { message } from "antd";
import { useDrawerStore } from "../../../store/drawer";
import dayjs from "dayjs";

const props = defineProps({
  data: {
    type: Array,
  },
});
const drawerStore = useDrawerStore();
const getAge = () => {
  const dob = dayjs(form.dateofbirth);
  const now = dayjs();
  const yearsDiff = now.diff(dob, "year");
  const monthsDiff = now.diff(dob, "month") % 12;

  if (yearsDiff > 0) {
    return `${yearsDiff} years `;
  } else {
    return `${monthsDiff} months `;
  }
};

const disabledDate = (current) => {
  return current && current > dayjs().endOf("day");
};

const closeDrawer = () => {
  drawerStore.closeDrawer();
  resetForm();
};

const rules = {
  firstname: { required: true, message: "First Name is required" },
  lastname: { required: true, message: "Last Name is required" },
  mobileno: [
    { required: true, message: "Mobile No. is required" },
    {
      pattern: /^[0-9]{10}$/,
      message: "Mobile number should be 10 digits!",
    },
  ],
  email: {
    type: "email",
    message: "",
  },
};

//edit localstorage
const populateForm = (data) => {
  form.id = data.id;
  form.firstname = data.firstname;
  form.middlename = data.middlename;
  form.lastname = data.lastname;
  form.mobileno = data.mobileno;
  form.email = data.email;
  form.dateofbirth = dayjs(data.dateofbirth);
  form.gender = data.gender;
  form.age = data.age;
  form.address1 = data.address1;
  form.address2 = data.address2;
  form.city = data.city;
  form.state = data.state;
  form.pincode = data.pincode;
};

//add data in localstorage
const form = reactive({
  id: "",
  firstname: "",
  middlename: "",
  lastname: "",
  mobileno: "",
  email: "",
  dateofbirth: "",
  gender: "",
  age: "",
  address1: "",
  address2: "",
  city: "",
  state: "",
  pincode: "",
});

//Add and edit localstorage
const saveData = async () => {
  try {
    if (
      form.firstname.trim() === "" ||
      form.lastname.trim() === "" ||
      form.mobileno.trim() === ""
    ) {
      return;
    }
    const PatientsData =
      JSON.parse(localStorage.getItem("patients-data")) || [];
    const PatientIndex = PatientsData.findIndex(
      (patient) => patient.id === form.id
    );
    
    if (PatientIndex !== -1) {
      form.age = getAge();
      form.dateofbirth = dayjs(form.dateofbirth);
      PatientsData[PatientIndex] = { ...form };
      message.success("Patient's data updated successfully!");
    } else {
      form.id = uuidv4();
      form.age = getAge();
      form.dateofbirth = dayjs(form.dateofbirth);
      PatientsData.push({ ...form });
      message.success("Patient's data created successfully!");
    }

    localStorage.setItem("patients-data", JSON.stringify(PatientsData));
    drawerStore.closeDrawer();
  } catch (error) {
    console.log("Validation failed:", error);
  }
  resetForm();
};
// resate form
const resetForm = () => {
  form.id = "";
  form.firstname = "";
  form.middlename = "";
  form.lastname = "";
  form.mobileno = "";
  form.email = "";
  form.dateofbirth = "";
  form.gender = "";
  form.address1 = "";
  form.address2 = "";
  form.city = "";
  form.state = "";
  form.pincode = "";
};

watchEffect(() => {
  if (props.data) {
    populateForm(props.data);
  } else {
    resetForm();
  }
});
onMounted(() => {
  resetForm();
});
</script> 
<style scoped>
.breadcrumb {
  background-color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
  padding-left: 10px;
}
.breadcrumb h1 {
  font-size: 20px;
}

.container {
  border-radius: 5px;
}

.editable-cell:hover .editable-cell-icon {
  display: inline-block;
}
.breadcrumb .addbutton {
  margin-top: 20px;
  margin-right: 20px;
  float: right;
  background-color: #0bca6b;
  color: white;
  width: 50px;
  height: 50px;
}
.breadcrumb .settingbutton,
.breadcrumb .backbutton {
  margin-top: 20px;
  margin-right: 20px;
  float: right;
  width: 50px;
  height: 50px;
  border: 1px dashed gray;
}

.settingbutton:hover,
.backbutton:hover {
  border-color: #0bca6b;
  color: #0bca6b;
}
.input:hover {
  border: 1px solid #0bca6b;
}
</style>

