<script setup>
import { ref } from 'vue';

</script>
<a-menu-item key="1" class="menubtn" :class="{ active: activeMenuItem === 'dashboard' }" @click="handleMenuItemClick('dashboard')">
    <!-- ... -->
  </a-menu-item>
  
  <!-- Add similar modifications to other a-menu-item elements -->
  <script setup>

</script>
<style scoped>
.menubtn.active {
  background-color: lightgreen;
  color: #52c41a;
}
</style>
