<template>
  <a-affix :offset-top="top">
    <a-layout-header
    class="header"
    :class="{
      'header-shadow': scroll > 10,
    }"
  >
  <a-row justify="space-between" align="middle" :style="{ lineHeight: '64px' }">
    <a-col :span="20">
        <a-row align="middle" :gutter="[10]">
          <a-col :span="3">
              <a-typography-title :level="2" class="logo" style="color: #00572c">
                medico.
              </a-typography-title>
          </a-col>
          <a-col :span="21">
            <a-input  placeholder="Start typing... " :bordered="false">
              <template #prefix>
                <SearchOutlined style="color: rgba(0, 0, 0, 0.3)" />
              </template>
            </a-input>
          </a-col>
        </a-row>
    </a-col>
      <a-col :span="4">
        <a-row justify="end" align="middle" :gutter="[10]">
          <a-col>
            <a-select
                 ref="select"
               value="en"
              :options="selectLocaleItems"
              :bordered="false"
            >
            <a-select-option value="de">de</a-select-option>
            <a-select-option value="en">en</a-select-option>
            <a-select-option value="es">es</a-select-option>
            <a-select-option value="fr">fr</a-select-option>
            <a-select-option value="hi">hi</a-select-option>
            </a-select>
          </a-col>
          <a-col>
            <a-dropdown
              :trigger="['click']"
              placement="bottomRight"
              :arrow="{ pointAtCenter: true }"
            >
              <a-tooltip title="Foo Bar" placement="left">
                <a-avatar class="profile" @click.prevent>
                  <template #icon>
                    <UserOutlined />
                  </template>
                </a-avatar>
              </a-tooltip>
              <template #overlay>
                <a-menu style="width: 220px">
                  <a-menu-item disabled key="3"> Foo Bar </a-menu-item>
                  <a-menu-divider />
                  <a-menu-item key="2">
                    profile
                  </a-menu-item>
                  <a-menu-item key="1">
                        Settings
                  </a-menu-item>
                  <a-menu-divider />
                  <a-menu-item danger key="0">
                    Settings
                  </a-menu-item>
                </a-menu>
              </template>
            </a-dropdown>
          </a-col>
        </a-row>
      </a-col>
  </a-row>
</a-layout-header>
</a-affix>
  </template>
  <script setup>
  import {
  UserOutlined,
  SearchOutlined,
} from "@ant-design/icons-vue";
  </script>
  <style>
  .header {
    height: 64px !important;
    z-index: 10;
    width: 100%;
    padding: 0 50px !important;
    position: absolute;
    background: transparent
      radial-gradient(
        at top,
        hsla(133, 72%, 65%, 0.2) 0%,
        hsla(0, 24%, 93%, 0) 60%,
        hsla(0, 62%, 93%, 0) 100%
      ) !important;
    backdrop-filter: blur(8px);
    transition: all 0.3s;
  }
  
  .header-shadow {
    box-shadow: 0 2px 16px 0 rgba(31, 38, 135, 0.17);
  }
  
  .logo {
    width: 100%;
    margin-bottom: 0 !important;
    user-select: none;
  }
  
  .profile {
    background-color: var(--link-active);
    cursor: pointer;
    background-color: #00572c;
    margin: 10px;
  }
 
  </style>
  
  