
<template>
  <a-layout >
    <SlideView />

    <a-layout>
      <a-layout-content
          class="container"
          :style="{
            background: '#f5f5f5',
            margin: 0,
            marginTop: '64px',
          }"
        >
      <a-layout style="padding: 0 24px 24px">
        <div class="breadcrumb">
          <a-card size="small">
            <a-row justify="space-between" align="middle">
              <a-col :span="24">
                <a-row align="middle" :gutter="[24]">
                  <a-col :span="14">
                    <a-breadcrumb >
                      <a-breadcrumb-item
                        ><router-link to="/">Home</router-link></a-breadcrumb-item
                      >
                      <a-breadcrumb-item
                        ><router-link to="/patients"
                          >partients</router-link
                        ></a-breadcrumb-item
                      >
                    </a-breadcrumb>
                    <h1>Patients</h1>
                  </a-col>
                  <a-col :span="10">
                    <a-tooltip placement="top">
                      <template #title>
                        <span>Back</span>
                      </template>
                      <a-button class="editable-add-btn backbutton" @click="goBack"
                        ><arrow-left-outlined
                      /></a-button>
                    </a-tooltip>
                    <a-popover
                      v-model:open="visibledropdoun"
                      placement="bottom"
                      trigger="click"
                    >
                      <a-tooltip placement="top">
                        <template #title>
                          <span>Show/Hide Columns</span>
                        </template>
                        <a-button class="editable-add-btn settingbutton"
                          ><setting-outlined
                        /></a-button>
                      </a-tooltip>
                      <template #content>
                        <div>
                          Select Columns
                          <a @click="hide" style="float: right"><close-outlined /></a
                          ><br />
                        </div>
                        <div class="checkbox">
                          <a-checkbox
                            v-model:checked="showAllColumns"
                            :indeterminate="state.indeterminate"
                            @change="onShowAllChange"
                          >
                            Show All
                          </a-checkbox>
                        </div>
                        <a-checkbox-group
                          class="verticle"
                          v-model:value="state.checkedList"
                          :options="plainOptions"
                        />
                      </template>
                    </a-popover>
                    <a-tooltip placement="top">
                      <template #title>
                        <span>Add New Patients</span>
                      </template>
                      <a-button type="primary" class="editable-add-btn addbutton" @click="openDrawerr()"
                        ><plus-outlined />
                      </a-button>
                    </a-tooltip>
                  </a-col>
                </a-row>
              </a-col>
            </a-row>
          </a-card>
        </div>
        <a-card>
          <a-spin  :spinning="spinning">
            <a-table
              ref="table" 
              :columns="filteredColumns"
              :dataSource="data"
              @change="onChange"
              class="tabel"
              :style="{
                background: '#fff',
               
              }"
              :pagination="{ pageSize: 20 }"
            >
              <template
                #customFilterDropdown="{
                  setSelectedKeys,
                  selectedKeys,
                  confirm,
                  clearFilters,
                  column,
                }"
              >
                <div style="padding: 8px">
                  <a-input
                    ref="searchInput"
                    :placeholder="`Search ${column.dataIndex}`"
                    :value="selectedKeys[0]"
                    style="width: 188px; margin-bottom: 8px; display: block"
                    @change="
                      (e) =>
                        setSelectedKeys(e.target.value ? [e.target.value] : [])
                    "
                    @pressEnter="
                      handleSearch(selectedKeys, confirm, column.dataIndex)
                    "
                  />
                  <a-button
                    size="small"
                    style="width: 90px; margin-right: 8px"
                    @click="
                      handleSearch(selectedKeys, confirm, column.dataIndex)
                    "
                  >
                    <search-outlined />
                  </a-button>
                  <a-button
                    size="small"
                    style="width: 90px"
                    @click="handleReset(clearFilters)"
                  >
                    Reset
                  </a-button>
                </div>
              </template>
              <template #customFilterIcon="{ filtered }">
                <search-outlined
                  :style="{ color: filtered ? '#108ee9' : undefined }"
                />
              </template>
              <template #bodyCell="{ column, record, text }">
                <span
                  v-if="
                    state.searchText &&
                    state.searchedColumn === column.dataIndex
                  "
                >
                  <template
                    v-for="(fragment, i) in text
                      .toString()
                      .split(
                        new RegExp(
                          `(?<=${state.searchText})|(?=${state.searchText})`,
                          'i'
                        )
                      )"
                  >
                    <mark
                      v-if="
                        fragment.toLowerCase() ===
                        state.searchText.toLowerCase()
                      "
                      :key="i"
                      class="highlight"
                    >
                      {{ fragment }}
                    </mark>
                    <template v-else>{{ fragment }}</template>
                  </template>
                </span>
                <!-- <template
                v-if="
                  [
                    'firstname',
                    'lastname',
                    'mobileno',
                    'gender',
                    'dateofbirth',
                    'age',
                    'state',
                  ].includes(column.dataIndex)
                "
              >
                {{ record[column.dataIndex] }}
              </template> -->
                <template v-if="column.dataIndex === 'action'">
                  <div>
                    <a-tooltip placement="top">
                      <template #title>
                        <span>Show Patient's Data</span>
                      </template>
                     <span>
                       <a class="viewicon" @click="viewPatient(record.id)">
                        <EyeOutlined />
                       </a>
                     </span>
                     </a-tooltip>
                     <a-tooltip placement="top">
                      <template #title>
                        <span>Edit Patient's Data</span>
                      </template>
                    <span>
                      <a class="editicon" @click="openDrawerr(record)"
                        ><edit-outlined
                          :to="{ name: 'userview', params: { id: record.id } }"
                      /></a>
                    </span>
                    </a-tooltip>
                    <a-tooltip placement="top">
                      <template #title>
                        <span>Delete Patient's Data</span>
                      </template>
                    <span>
                      <a-popconfirm
                        title="Are you sure you want to delete this patient's data?"
                        @confirm="onDelete(record.id)"
                      >
                        <a class="deleteicon"><delete-outlined /></a>
                      </a-popconfirm>
                    </span>
                    </a-tooltip>
                  </div>
                </template>
              </template>
            </a-table>
          </a-spin>
        </a-card>
      </a-layout>
     </a-layout-content>
    </a-layout>
  </a-layout>
</template> 
<script setup>
import {
  PlusOutlined,
  SettingOutlined,
  ArrowLeftOutlined,
  DeleteOutlined,
  EditOutlined,
  EyeOutlined,
  CloseOutlined,
  SearchOutlined,
} from "@ant-design/icons-vue";
// import dayjs from "dayjs";
import { message } from "antd";
import { useRouter } from "vue-router";
import { useSpinnerStore} from '@/store/spinner'
import { useDrawerStore } from '../../store/drawer'
import { onMounted, ref, reactive, watch, computed } from "vue";
import SlideView from "@/components/SlideView.vue";
import { storeToRefs } from "pinia";
import dayjs from "dayjs";
const router = useRouter();
const visibledropdoun = ref(false);
const showAllColumns = ref(false);
const spinerstore = useSpinnerStore()
const { spinning } = storeToRefs(spinerstore)
const { startSpin} = spinerstore

const drawerStore = useDrawerStore();
const { goBack}= drawerStore
// const selectedPatientData = ref(null);
const hide = () => {
  visibledropdoun.value = false;
};
const data = ref([]);

const openDrawerr = (patient = null) => {
  drawerStore.openDrawer({
      title: patient ? "Edit Patient" : "Add New Patient",
      childComponent: "StoreP",
      data: patient, 
      callback: refreshTable,
    });
};


const filteredColumns = computed(() => {
  if (showAllColumns.value) {
    return columns;
  } else {
    return columns.filter((column) =>
      state.checkedList.includes(column.dataIndex)
    );
  }
});


const viewPatient = (id) => {
  router.push({ name: "userview", params: { id } });
};


const searchInput = ref();

const columns = [
  {
    title: "First Name",
    dataIndex: "firstname",
    key: "firstname",
    sorter: (a, b) => a.firstname.length - b.firstname.length,
    sortDirections: ["descend", "ascend"],
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.firstname.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "Middle Name",
    dataIndex: "middlename",
    sorter: (a, b) => a.middlename.length - b.middlename.length,
    sortDirections: ["descend", "ascend"],
    key: "middlename",
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.middlename.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "Last Name",
    dataIndex: "lastname",
    sorter: (a, b) => a.lastname.length - b.lastname.length,
    sortDirections: ["descend", "ascend"],
    key: "lastname",
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.lastname.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "Mobile No.",
    dataIndex: "mobileno",
    key: "mobileno",
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.mobileno.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "Gender",
    dataIndex: "gender",
    key: "gender",
    filters: [
      {
        text: "female",
        value: "female",
      },
      {
        text: "male",
        value: "male",
      },
    ],

    onFilter: (value, record) => record.gender.indexOf(value) === 0,
  },
  {
    title: "Date of Birth",
    dataIndex: "dateofbirth",
    key: "dateofbirth",
    customRender: ({ text }) => dayjs(text).format('MMMM DD, YYYY')
  },
  {
    title: "Age",
    dataIndex: "age",
    sorter: (a, b) => a.age - b.age,
    sortDirections: ["descend", "ascend"],
    key: "age",
  },
  {
    title: "Email",
    dataIndex: "email",
    key: "email",
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.email.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "address1",
    dataIndex: "address1",
    sorter: (a, b) => a.address1.length - b.address1.length,
    sortDirections: ["descend", "ascend"],
    key: "address1",
  },
  {
    title: "address2",
    dataIndex: "address2",
    sorter: (a, b) => a.address2.length - b.address.length,
    sortDirections: ["descend", "ascend"],
    key: "address2",
  },
  {
    title: "City",
    dataIndex: "city",
    sorter: (a, b) => a.city.length - b.city.length,
    sortDirections: ["descend", "ascend"],
    key: "city",
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.city.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "State",
    dataIndex: "state",
    sorter: (a, b) => a.state.length - b.state.length,
    sortDirections: ["descend", "ascend"],
    key: "state",
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.state.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "pincode",
    dataIndex: "pincode",
    sorter: (a, b) => a.pincode.length - b.pincode.length,
    sortDirections: ["descend", "ascend"],
    key: "pincode",
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.pincode.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "Actions",
    dataIndex: "action",
    key: "action",
  },
];

const handleSearch = (selectedKeys, confirm, dataIndex) => { 
  confirm();
  state.searchText = selectedKeys[0];
  state.searchedColumn = dataIndex;
};
const handleReset = (clearFilters) => {
  clearFilters({
    confirm: true,
  });
  state.searchText = "";
};

const fetchUsers = async () => {
  try {
    
 const patientsData = JSON.parse(localStorage.getItem("patients-data")) || [];
  data.value = patientsData;

     
  } catch (error) {
    console.error(error);
  }
};

const onChange = (pagination, filters, sorter, extra) => {
  console.log("params", pagination, filters, sorter, extra);
};

const onDelete = (id) => {
  const contactsData = JSON.parse(localStorage.getItem("patients-data")) || [];
  const index = contactsData.findIndex((doctor) => doctor.id === id);
  if (index !== -1) {
    contactsData.splice(index, 1);
    localStorage.setItem("patients-data", JSON.stringify(contactsData));
    message.success("Patient's data deleted successfully!");
    refreshTable()
  
   }  
}; 


const plainOptions = [
  "firstname",
  "middlename",
  "lastname",
  "mobileno",
  "email",
  "gender",
  "dateofbirth",
  "age",
  "address1",
  "address2",
  "city",
  "state",
  "pincode",
  "action",
];
const defaultCheckedList = [
  "firstname",
  "lastname",
  "mobileno",
  "dateofbirth",
  "age",
  "state",
  "gender",
  "action",
];
const state = reactive({
  indeterminate: true,
  checkAll: false,
  checkedList: defaultCheckedList,
});
const onShowAllChange = (checked) => {
  if (checked) {
    state.checkedList = plainOptions;
  } else {
    state.checkedList = [];
  }
};
watch(showAllColumns, (value) => {
  if (value) {
    state.checkedList = plainOptions.slice(); // Select all options
  } else {
    state.checkedList = defaultCheckedList.slice(); // Reset to default options
  }
});

const refreshTable = async () => {
  try {
    const patientsData =
      JSON.parse(localStorage.getItem("patients-data")) || [];
    data.value = patientsData;
  } catch (error) {
    console.error(error);
  }
};
watch(data, () => {
  startSpin();
});

onMounted(fetchUsers);
</script>  
<style  scoped>



</style> 