<template>
  <div>
    <a-descriptions :bordered="true" :column="1" v-if="data">
      <a-descriptions-item label="Date">{{ data.date }}</a-descriptions-item>
      <a-descriptions-item label="No. of SMS">{{
        data.noofsms
      }}</a-descriptions-item>
      <a-descriptions-item label="Message"
        >{{ data.message }}
        <p style="float: right; color: rgb(196, 192, 192)">
          {{ data.characters }}
        </p>
      </a-descriptions-item>
    </a-descriptions>
  </div>
</template>

<script setup>
import { computed } from "vue";
import { useDrawerStore } from "../../../store/drawer";
const drawerStore = useDrawerStore();
const data = computed(() => drawerStore.data);
</script>
