
<template>
  <a-form
    :model="form"
    layout="vertical"
    name="basic"
    :rules="rules"
    autocomplete="off"
    @finish="saveData"
    @finishFailed="onFinishFailed"
  >
    <a-row :gutter="16">
      <a-col :span="24">
        <a-form-item label="Message" name="message"  :rules="[{ required: true, message: 'Please enter announcement message' }]">
          <a-textarea
            v-model:value="form.message"
            :rows="4"
            placeholder="Enter Message Here..."
            allow-clear
          />
        </a-form-item>
      </a-col>
    </a-row>
    <div
      :style="{
        position: 'absolute',
        right: 0,
        bottom: 0,
        width: '96%',
        borderTop: '1px solid #e9e9e9',
        padding: '10px 16px',
        background: '#fff',
        textAlign: 'right',
        zIndex: 1,
      }"
    >
      <a-button style="margin-right: 8px" @click="closeDrawer()">
        Cancel
      </a-button>
      <a-button type="primary" html-type="submit" >
        Add
      </a-button>
    </div>
  </a-form>
</template>

<script setup>
import { defineEmits, reactive } from "vue";
import { message } from "antd";
import { useDrawerStore } from "../../../store/drawer";
import { v4 as uuidv4 } from "uuid";

const emit = defineEmits(["refresh"]);
const drawerStore = useDrawerStore();


const onFinishFailed = (errorInfo) => {
  console.log("Failed:", errorInfo);
};

const form = reactive({
  date: new Date().toISOString().slice(0, 10),
  message: "",
});

//Calculate sms 
const calculateSMSCount = (message) => {
  const smsLimit = 160;
  const messageLength = message.length;

  if (messageLength < smsLimit) {
    return 1;
  } else {
    return Math.ceil(messageLength + smsLimit);
  }
};


//add and Edit Data
const saveData = async () => {
  try {
    if (form.message.trim() === "") {
        message.error("Please enter a message");
        return;
      }
    const currentDate = new Date().toISOString().slice(0, 10);
    const noOfSMS = calculateSMSCount(form.message);
    const announcementsData =
      JSON.parse(localStorage.getItem("announcements-data")) || [];

    const newData = {
      id: uuidv4(),
      date: currentDate,
      message: form.message,
      characters: form.message.length + " chars.",
      noofsms: noOfSMS,
    };

    announcementsData.push(newData);
    localStorage.setItem(
      "announcements-data",
      JSON.stringify(announcementsData)
    );
    message.success("Data added successfully");
    resetForm();
    drawerStore.closeDrawer();
    emit("refresh");
  } catch (err) {
    console.log(err);
  }
};

//resete form
const resetForm = () => {
  form.message = "";
};
</script>
<style scoped> 
</style>

