<template>
  <a-form
    :model="form"
    layout="vertical"
    name="basic"
    autocomplete="off"
    @finish="onFinish"
    @finishFailed="onFinishFailed"
  >
    <a-row :gutter="16">
      <a-col :span="24">
        <a-form-item label="Report No." name="reportno">
          <a-input value="REP-2023621-815" />
        </a-form-item>
      </a-col>
    </a-row>
    <a-row :gutter="16">
      <a-col :span="24">
        <a-form-item label="Amount" name="amount">
          <a-input value="₹0.00" />
        </a-form-item>
      </a-col>
    </a-row>

    <div style="margin-bottom: 20px">
      <a-checkbox v-model:checked="checked"
        >Are reports from the prescribed Laboratory/Scanning Center?</a-checkbox
      >
    </div>
    <div>
      <a-table :columns="columns" :data-source="data" :pagination="false">
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'CoveredinReport'">
            <a-checkbox v-model:checked="record.CoveredinReport"></a-checkbox>
          </template>
        </template>
      </a-table>
    </div>
    <div
      :style="{
        position: 'absolute',
        right: 0,
        bottom: 0,
        width: '96%',
        borderTop: '1px solid #e9e9e9',
        padding: '10px 16px',
        background: '#fff',
        textAlign: 'right',
        zIndex: 1,
      }"
    >
      <a-button style="margin-right: 8px" @click="closeDrawer()">
        Cancel
      </a-button>
      <a-button type="primary" html-type="submit" @click="saveData">
        Save
      </a-button>
    </div>
  </a-form>
</template>  
  <script setup>
import { ref, defineProps } from "vue";

const checked = ref(false);
const props = defineProps(["drawerStore"]);
const drawerStore = ref(props.drawerStore);
const { closeDrawer } = drawerStore;

const columns = [
  {
    title: "Prescribed Tests",
    dataIndex: "PrescribedTests",
  },
  {
    title: "Covered in Report",
    dataIndex: "CoveredinReport",
    key: "CoveredinReport",
  },
];
const data = [
  {
    key: "1",
    PrescribedTests: "LIVER FITNESS TEST",
  },
  {
    key: "2",
    PrescribedTests: "TOTAL BLOOD COUNT",
  },
  {
    key: "3",
    PrescribedTests: "EGFR",
  },
  {
    key: "4",
    PrescribedTests: "TREAD MILL TEST",
  },
  {
    key: "5",
    PrescribedTests: "T3",
  },
  {
    key: "6",
    PrescribedTests: "T4",
  },
  {
    key: "7",
    PrescribedTests: "TSH",
  },
  {
    key: "8",
    PrescribedTests: "FUNDUS CAMERA",
  },
  {
    key: "9",
    PrescribedTests: "LIPID PROFILE",
  },
  {
    key: "10",
    PrescribedTests: "SUGAR RANDOM",
  },
  {
    key: "11",
    PrescribedTests: "BLOOD COUNT",
  },
  {
    key: "12",
    PrescribedTests: "COMPLETE FOOT EXAMINATION",
  },
  {
    key: "13",
    PrescribedTests: "THYROID TECHNETIUM SCAN - TC SCAN",
  },
  {
    key: "14",
    PrescribedTests: "SUGAR AFTER FOOD",
  },
];
</script> 
  <style scoped>
</style>