<template>
  <div>
    <a-descriptions :bordered="true" :column="1">
      <a-descriptions-item label="Patient"
        >Garrett Ahluwalia</a-descriptions-item
      >
      <a-descriptions-item label="Date">May 22, 2023</a-descriptions-item>
      <a-descriptions-item label="Gender">Male</a-descriptions-item>
      <a-descriptions-item label="Phone No."
        >+91 04504 51385</a-descriptions-item
      >
      <a-descriptions-item label="Phone No."
        >Dr. Antonia Adiga</a-descriptions-item
      >
    </a-descriptions>
  </div>

  <a-divider orientation="left"><b>Vitals</b></a-divider>
  <a-row :gutter="16">
    <a-col :span="6">
      <p>Height:163 cm</p>
    </a-col>
    <a-col :span="6">
      <p>Weight:65 cm</p>
    </a-col>
    <a-col :span="6">
      <p>BP:100/60 cm</p>
    </a-col>
    <a-col :span="6">
      <p>Temperature:103 cm</p>
    </a-col>
  </a-row>
  <a-divider orientation="left"><b>Complaints</b></a-divider>
  <a-table :columns="columns" :data-source="data" :pagination="false">
  </a-table>
  <a-divider orientation="left"><b>Diagnosis</b></a-divider>
  <a-table :columns="columns" :data-source="data" :pagination="false">
  </a-table>
  <a-divider orientation="left"><b>Prescriptions</b></a-divider>
  <a-table :columns="columns" :data-source="data" :pagination="false">
  </a-table>
  <a-divider orientation="left"><b>Tests Requested</b></a-divider>
  <p>
    TSH, T4, LFT, SUGAR RANDOM, SUGAR AFTER FOOD, SUGAR FASTING, COMPLETE FOOT
    EXAMINATION, FUNDUS CAMERA, and THYROID TECHNETIUM SCAN - TC SCAN
  </p>
</template>   
  <script setup>
const columns = [
  {
    title: "Complaint",
    dataIndex: "Complaint",
    key: "Complaint",
  },
  {
    title: "Frequency",
    dataIndex: "Frequency",
    key: "Frequency",
  },
  {
    title: "Severity",
    dataIndex: "Severity",
    key: "Severity",
  },
  {
    title: "Duration",
    dataIndex: "Duration",
    key: "Duration",
  },
];
const data = [
  {
    key: "1",
    Complaint: "Anxiety",
    Frequency: "Daily",
    Severity: "Profound",
    Duration: "28 months",
  },
  {
    key: "2",
    Complaint: "Backache",
    Frequency: "Alternate Day",
    Severity: "Very Severe",
    Duration: "19 months",
  },
  {
    key: "3",
    Complaint: "Headache",
    Frequency: "Weekly",
    Severity: "Mild",
    Duration: "9 years",
  },
];

// onMounted(() => {
//   visible.value = true;
// });
</script> 
  <style scoped>
.breadcrumb {
  background-color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
  padding-left: 10px;
}
.breadcrumb h1 {
  font-size: 20px;
}

.container {
  border-radius: 5px;
}

.editable-cell:hover .editable-cell-icon {
  display: inline-block;
}
.breadcrumb .addbutton {
  margin-top: 20px;
  margin-right: 20px;
  float: right;
  background-color:#0bca6b;
  color: white;
  width: 50px;
  height: 50px;
}
.breadcrumb .settingbutton,
.breadcrumb .backbutton {
  margin-top: 20px;
  margin-right: 20px;
  float: right;
  width: 50px;
  height: 50px;
  border: 1px dashed gray;
}

.settingbutton:hover,
.backbutton:hover {
  border-color: #0bca6b;
  color: #0bca6b;
}
</style>

