<template>
  <div>
    <a-descriptions :bordered="true" :column="1" v-if="data">
      <a-descriptions-item label="Name">{{ data.name }}</a-descriptions-item>
      <a-descriptions-item label="Type">{{ data.type }}</a-descriptions-item>
      <a-descriptions-item label="Contact Number">{{
        data.contactno
      }}</a-descriptions-item>
      <a-descriptions-item label="Email">{{ data.email }}</a-descriptions-item>
      <a-descriptions-item label="Address Line 1">{{
        data.address1
      }}</a-descriptions-item>
      <a-descriptions-item label="Address Line 2">{{
        data.address2
      }}</a-descriptions-item>
      <a-descriptions-item label="City">{{ data.City }}</a-descriptions-item>
      <a-descriptions-item label="State">{{ data.state }}</a-descriptions-item>
      <a-descriptions-item label="Pincode">{{
        data.Pincode
      }}</a-descriptions-item>
    </a-descriptions>
  </div>
</template> 
<script setup>
import { computed } from "vue";
import { useDrawerStore } from "../../../store/drawer";
const drawerStore = useDrawerStore();
const data = computed(() => drawerStore.data);
</script>                                     
<style scoped>
</style>

