<template>
  <a-form
    :model="form"
    layout="vertical"
    name="basic"
    autocomplete="off"
    @finish="saveData"
    @finishFailed="onFinishFailed"
  >
    <a-row :gutter="16">
      <a-col :span="12">
        <a-form-item
          label=" Name"
          name="name"
          :rules="[{ required: true, message: 'Please input your name!' }]"
        >
          <a-input
            v-model:value="form.name"
            placeholder="Please enter name"
            allow-clear
            class="input"
          />
        </a-form-item>
      </a-col>
      <a-col :span="12">
        <a-form-item label="Contact Type" name="type"  :rules="[{ required: true, message: 'Please select contact type!' }]">
          <a-select
            placeholder="Please choose the type"
            v-model:value="form.type"
            class="input"
          >
            <a-select-option value="Laboratory">Laboratory</a-select-option>
            <a-select-option value="MR">MR</a-select-option>
            <a-select-option value="Drugist">Drugist</a-select-option>
            <a-select-option value="Scanning Center"
              >Scanning Center</a-select-option
            >
          </a-select>
        </a-form-item>
      </a-col>
    </a-row>
    <a-row :gutter="16">
      <a-col :span="12">
        <a-form-item
          label="Mobile No."
          name="contactno"
          :rules="[
            { required: true, message: 'Please input your mobile number!' },
            {
              pattern: /^[0-9]{10}$/,
              message: 'Mobile number should be 10 digits!',
            },
          ]"
        >
          <a-input
            v-model:value="form.contactno"
            placeholder="Please enter mobile no. "
            allow-clear
            class="input"
          />
        </a-form-item>
      </a-col>
      <a-col :span="12">
        <a-form-item
          label="email"
          name="email"
          :rules="[
            { type: 'email', message: 'Please enter a valid email address!' },
          ]"
        >
          <a-input
            v-model:value="form.email"
            placeholder="Please enter email id"
            allow-clear
            class="input"
          />
        </a-form-item>
      </a-col>
    </a-row>
    <a-row :gutter="16">
      <a-col :span="24">
        <a-form-item label="Address#1" name="address1">
          <a-input
            v-model:value="form.address1"
            :rows="2"
            placeholder="please enter url address 1"
            allow-clear
            class="input"
          />
        </a-form-item>
      </a-col>
    </a-row>
    <a-row :gutter="16">
      <a-col :span="24">
        <a-form-item label="Address#2" name="address2">
          <a-input
            v-model:value="form.address2"
            :rows="2"
            placeholder="please enter url address 2"
            allow-clear
            class="input"
          />
        </a-form-item>
      </a-col>
    </a-row>
    <a-row :gutter="16">
      <a-col :span="8">
        <a-form-item label="City" name="city">
          <a-input
            v-model:value="form.city"
            placeholder="Please enter city"
            allow-clear
            class="input"
          />
        </a-form-item>
      </a-col>
      <a-col :span="8">
        <a-form-item label="State" name="state">
          <a-input
            v-model:value="form.state"
            placeholder="Please enter state "
            allow-clear
            class="input"
          />
        </a-form-item>
      </a-col>
      <a-col :span="8">
        <a-form-item label="Pincode" name="pincode">
          <a-input
            v-model:value="form.pincode"
            placeholder="Please enter pincode "
            allow-clear
            class="input"
          />
        </a-form-item>
      </a-col>
    </a-row>
    <div
      :style="{
        position: 'absolute',
        right: 0,
        bottom: 0,
        width: '96%',
        borderTop: '1px solid #e9e9e9',
        padding: '10px 16px',
        background: '#fff',
        textAlign: 'right',
        zIndex: 1,
      }"
    >
    <a-row>
      <a-col :span="24">
      <a-form-item :wrapper-col="{ offset: 8, span: 16 }">
        <a-button style="margin-right: 8px" @click="closeDrawer()">
          Cancel
        </a-button>
        <a-button type="primary" html-type="submit">
          {{ form.id ? 'Update' : 'Add' }}
        </a-button>
      </a-form-item>
    </a-col>
    </a-row>
    </div>
  </a-form>
</template>
<script setup>
import { v4 as uuidv4 } from "uuid";
import { reactive, defineProps, watchEffect } from "vue";
import { message } from "antd";
import { useDrawerStore } from "../../../store/drawer";
const props = defineProps({
  data: {
    type: Array,
  },
});
const drawerStore = useDrawerStore();
//add data in localstorage
const form = reactive({
  id: "",
  name: "",
  type: "",
  contactno: "",
  email: "",
  address1: "",
  address2: "",
  city: "",
  state: "",
  pincode: "",
});


const onFinishFailed = (errorInfo) => {
  console.log("Failed:", errorInfo);
};

//Edit localstorage
const populateForm = (data) => {
  form.id = data.id;
  form.name = data.name;
  form.type = data.type;
  form.contactno = data.contactno;
  form.email = data.email;
  form.address1 = data.address1;
  form.address2 = data.address2;
  form.city = data.city;
  form.state = data.state;
  form.pincode = data.pincode;
};

//add and edit data
const saveData = async () => {
  try {
    if (form.name.trim() === "" || form.type.trim() === "" || form.contactno.trim() === "") {
        return; 
      }
    const ContactsData =
      JSON.parse(localStorage.getItem("contacts-data")) || [];
    const contactIndex = ContactsData.findIndex(
      (contact) => contact.id === form.id
    );

    if (contactIndex !== -1) {
      ContactsData[contactIndex] = form;
      message.success("Data updated successfully");
    } else {
      form.id = uuidv4();
      ContactsData.push(form);
      message.success("Data added successfully");
    }
    localStorage.setItem("contacts-data", JSON.stringify(ContactsData));
    resetForm()
    drawerStore.closeDrawer();
  } catch (err) {
    console.log(err);
  }
};
// resate form
const resetForm = () => {
  form.id = "";
  form.name = "";
  form.type = "";
  form.contactno = "";
  form.email = "";
  form.address1 = "";
  form.address2 = "";
  form.city = "";
  form.state = "";
  form.pincode = "";
  
};
watchEffect(() => {
  if (props.data) {
    populateForm(props.data);
  }
});
</script>
<style scoped>

</style>


