<template>
  <a-layout>
    
  <a-layout>
    <a-layout-content
      class="container"
      :style="{
        background: '#fff',
        
      }"
    >
      <div>
        <div>
          <a-descriptions :bordered="true" :column="2" v-if="patient">
            <a-descriptions-item label="First Name">{{patient.firstname}}</a-descriptions-item>
            <a-descriptions-item label="Middle Name"
              >{{patient.middlename}}</a-descriptions-item
            >
            <a-descriptions-item label="Last Name">{{patient.lastname}}</a-descriptions-item>
            <a-descriptions-item label="Mobile No."
              >{{patient.mobileno}}</a-descriptions-item
            >
            <a-descriptions-item label="Date of Birth"
              >{{patient.dateofbirth}}</a-descriptions-item
            >
            <a-descriptions-item label="Age">{{patient.age}}</a-descriptions-item>
            <a-descriptions-item label="Gender">{{patient.gender}}</a-descriptions-item>
            <a-descriptions-item label="Address 1"
              >{{patient.address1}}</a-descriptions-item
            >
            <a-descriptions-item label="Address 2"
              >{{patient.address2}}</a-descriptions-item
            >
            <a-descriptions-item label="City">{{patient.city}}</a-descriptions-item>
            <a-descriptions-item label="State">{{patient.state}}</a-descriptions-item>
            <a-descriptions-item label="Pincode">{{patient.pincode}}</a-descriptions-item>
          </a-descriptions>
        </div>
      </div>
    </a-layout-content>
  </a-layout>
</a-layout>
</template>  
<script setup>
import {ref, defineProps} from "vue";
const props = defineProps({
  patient: {
      type: Object,
      required: true,
    },
});
const patient = ref(props.patient)
</script>
  <style scoped>
</style>
  



    