<template>
  <a-layout>
    <a-layout-content
      class="container"
      :style="{
        background: '#fff',
        padding: '24px',
        margin: 0,
      }"
    >
      <div class="model">
        <a-collapse v-model:activeKey="activeKey">
          <a-collapse-panel key="1">
            <template #header>
              <div>
                <b style="font-size: large">May 23, 2023</b>
                <p>Dr. Billie Saini</p>
              </div>
            </template>
            <a-divider orientation="left"><b>Vitals</b></a-divider>
            <a-row :gutter="16">
              <a-col :span="6">
                <p>Height:163 cm</p>
              </a-col>
              <a-col :span="6">
                <p>Weight:65 cm</p>
              </a-col>
              <a-col :span="6">
                <p>BP:100/60 cm</p>
              </a-col>
              <a-col :span="6">
                <p>Temperature:103 cm</p>
              </a-col>
            </a-row>
            <a-divider orientation="left"><b>Complaints</b></a-divider>
            <a-table :columns="columns" :data-source="data" :pagination="false">
            </a-table>
            <a-divider orientation="left"><b>Diagnosis</b></a-divider>
            <a-table :columns="columns" :data-source="data" :pagination="false">
            </a-table>
            <a-divider orientation="left"><b>Prescriptions</b></a-divider>
            <a-table :columns="columns" :data-source="data" :pagination="false">
            </a-table>
            <a-divider orientation="left"><b>Tests Requested</b></a-divider>
            <p>
              TSH, T4, LFT, SUGAR RANDOM, SUGAR AFTER FOOD, SUGAR FASTING,
              COMPLETE FOOT EXAMINATION, FUNDUS CAMERA, and THYROID TECHNETIUM
              SCAN - TC SCAN
            </p>
          </a-collapse-panel>
        </a-collapse>
      </div>
      <div class="model">
        <a-collapse v-model:activeKey="activeKey">
          <a-collapse-panel key="1">
            <template #header>
              <div>
                <b style="font-size: large">May 23, 2023</b>
                <p>Dr. Billie Saini</p>
              </div>
            </template>
            <a-divider orientation="left"><b>Vitals</b></a-divider>
            <a-row :gutter="16">
              <a-col :span="6">
                <p>Height:163 cm</p>
              </a-col>
              <a-col :span="6">
                <p>Weight:65 cm</p>
              </a-col>
              <a-col :span="6">
                <p>BP:100/60 cm</p>
              </a-col>
              <a-col :span="6">
                <p>Temperature:103 cm</p>
              </a-col>
            </a-row>
            <a-divider orientation="left"><b>Complaints</b></a-divider>
            <a-table :columns="columns" :data-source="data" :pagination="false">
            </a-table>
            <a-divider orientation="left"><b>Diagnosis</b></a-divider>
            <a-table :columns="columns" :data-source="data" :pagination="false">
            </a-table>
          </a-collapse-panel>
        </a-collapse>
      </div>
      <div class="model">
        <a-collapse v-model:activeKey="activeKey">
          <a-collapse-panel key="1">
            <template #header>
              <div>
                <b style="font-size: large">May 23, 2023</b>
                <p>Dr. Billie Saini</p>
              </div>
            </template>
            <a-divider orientation="left"><b>Vitals</b></a-divider>
            <a-row :gutter="16">
              <a-col :span="6">
                <p>Height:163 cm</p>
              </a-col>
              <a-col :span="6">
                <p>Weight:65 cm</p>
              </a-col>
              <a-col :span="6">
                <p>BP:100/60 cm</p>
              </a-col>
              <a-col :span="6">
                <p>Temperature:103 cm</p>
              </a-col>
            </a-row>
            <a-divider orientation="left"><b>Complaints</b></a-divider>
            <a-table :columns="columns" :data-source="data" :pagination="false">
            </a-table>
            <a-divider orientation="left"><b>Diagnosis</b></a-divider>
            <a-table :columns="columns" :data-source="data" :pagination="false">
            </a-table>
          </a-collapse-panel>
        </a-collapse>
      </div>
      <div class="model">
        <a-collapse v-model:activeKey="activeKey">
          <a-collapse-panel key="1">
            <template #header>
              <div>
                <b style="font-size: large">May 23, 2023</b>
                <p>Dr. Billie Saini</p>
              </div>
            </template>
            <a-divider orientation="left"><b>Vitals</b></a-divider>
            <a-row :gutter="16">
              <a-col :span="6">
                <p>Height:163 cm</p>
              </a-col>
              <a-col :span="6">
                <p>Weight:65 cm</p>
              </a-col>
              <a-col :span="6">
                <p>BP:100/60 cm</p>
              </a-col>
              <a-col :span="6">
                <p>Temperature:103 cm</p>
              </a-col>
            </a-row>
            <a-divider orientation="left"><b>Complaints</b></a-divider>
            <a-table :columns="columns" :data-source="data" :pagination="false">
            </a-table>
            <a-divider orientation="left"><b>Diagnosis</b></a-divider>
            <a-table :columns="columns" :data-source="data" :pagination="false">
            </a-table>
          </a-collapse-panel>
        </a-collapse>
      </div>
      <div class="model">
        <a-collapse v-model:activeKey="activeKey">
          <a-collapse-panel key="1">
            <template #header>
              <div>
                <b style="font-size: large">May 23, 2023</b>
                <p>Dr. Billie Saini</p>
              </div>
            </template>
            <a-divider orientation="left"><b>Vitals</b></a-divider>
            <a-row :gutter="16">
              <a-col :span="6">
                <p>Height:163 cm</p>
              </a-col>
              <a-col :span="6">
                <p>Weight:65 cm</p>
              </a-col>
              <a-col :span="6">
                <p>BP:100/60 cm</p>
              </a-col>
              <a-col :span="6">
                <p>Temperature:103 cm</p>
              </a-col>
            </a-row>
            <a-divider orientation="left"><b>Complaints</b></a-divider>
            <a-table :columns="columns" :data-source="data" :pagination="false">
            </a-table>
            <a-divider orientation="left"><b>Diagnosis</b></a-divider>
            <a-table :columns="columns" :data-source="data" :pagination="false">
            </a-table>
          </a-collapse-panel>
        </a-collapse>
      </div>
    </a-layout-content>
  </a-layout>
</template>
  <script setup>
const columns = [
  {
    title: "Complaint",
    dataIndex: "Complaint",
    key: "Complaint",
  },
  {
    title: "Frequency",
    dataIndex: "Frequency",
    key: "Frequency",
  },
  {
    title: "Severity",
    dataIndex: "Severity",
    key: "Severity",
  },
  {
    title: "Duration",
    dataIndex: "Duration",
    key: "Duration",
  },
];
const data = [
  {
    key: "1",
    Complaint: "Anxiety",
    Frequency: "Daily",
    Severity: "Profound",
    Duration: "28 months",
  },
  {
    key: "2",
    Complaint: "Backache",
    Frequency: "Alternate Day",
    Severity: "Very Severe",
    Duration: "19 months",
  },
  {
    key: "3",
    Complaint: "Headache",
    Frequency: "Weekly",
    Severity: "Mild",
    Duration: "9 years",
  },
];
</script>
<style scoped>
.model {
  margin: 10px;
}
</style>


  
