<template>
  <a-layout>
    <SlideView />
    <a-layout>
      <a-layout-content
          class="container"
          :style="{
            background: '#f5f5f5',
            margin: 0,
            marginTop: '64px',
          }"
        >
      <a-layout style="padding: 0 24px 24px">
        <div class="breadcrumb">
          <a-card size="small">
            <a-row justify="space-between" align="middle">
              <a-col :span="24">
                <a-row align="middle" :gutter="[24]">
                  <a-col :span="14" >
                    <a-breadcrumb >
                      <a-breadcrumb-item
                        ><router-link to="/">Home</router-link></a-breadcrumb-item
                      >
                      <a-breadcrumb-item
                        ><router-link to="/patients"
                          >partients</router-link
                        ></a-breadcrumb-item
                      >
                      <a-breadcrumb-item>partients Data</a-breadcrumb-item>
                    </a-breadcrumb>
                    <div v-if="patientData">
                      <h1>{{ patientData.firstname }} {{ patientData.lastname }}</h1>
                    </div>
                  </a-col>
                  <a-col :span="10">
                    <a-button class="editable-add-btn backbutton" @click="goBack">
                      <arrow-left-outlined />
                    </a-button>
                    <a-button class="editable-add-btn notificationbutton" @click="info">
                      <notification-outlined />
                    </a-button>
                    <a-button class="editable-add-btn printerbutton" @click="info"
                      ><printer-outlined />
                    </a-button>
                    <a-button class="editable-add-btn editbutton" @click="info">
                      <edit-outlined />
                    </a-button>
                    <a-button type="primary" class="editable-add-btn fileaddbutton" @click="info">
                      <file-add-outlined />
                    </a-button>
                  </a-col>
                </a-row>
              </a-col>
            </a-row>
          </a-card>
        </div>
        
      <a-card> 
        <a-menu :selected-keys="[tab]" mode="horizontal" @select="changeTab" style="margin-bottom:10px;">
          <a-menu-item :key="BasicDetails">Basic Details</a-menu-item>
          <a-menu-item :key="CaseHistory">Case History</a-menu-item>
          <a-menu-item :key="PaymentView">Payments</a-menu-item>
        </a-menu>

        <div>
          <component :is="tab" :patient="patientData" />
        </div>
      </a-card> 
      </a-layout>

    </a-layout-content>
    </a-layout>
  </a-layout>
</template>  
<script setup>
import { message} from "ant-design-vue";
import BasicDetails from "@/pages/Patients/Details/BasicDetails.vue";
import SlideView from "@/components/SlideView.vue";
import CaseHistory from "@/pages/Patients/Details/CaseHistory.vue";
import PaymentView from "@/pages/Patients/Details/PaymentView.vue";
import {
  PrinterOutlined,
  ArrowLeftOutlined,
  FileAddOutlined,
  EditOutlined,
  NotificationOutlined,
} from "@ant-design/icons-vue";
import { computed, ref } from "vue";
import { useRouter, useRoute } from "vue-router";
const router = useRouter();
const route = useRoute();
const patientId = route.params.id;

const patientData = computed(() => {
  const patientsData = JSON.parse(localStorage.getItem("patients-data")) || [];
  return patientsData.find((patient) => patient.id === patientId);
});
const tab = ref(BasicDetails);

function changeTab({ key }) {
    tab.value = key;
  }


const goBack = () => {
  router.go(-1);
};

const info = () => {
  message.info("This feature is not available yet.");
};
</script>
<style scoped>



.editable-cell:hover .editable-cell-icon {
  display: inline-block;
}
.breadcrumb .printerbutton {
  margin-right: 20px;
  float: right;
  color: rgb(12, 10, 10);
  width: 45px;
  height: 45px;
}

.breadcrumb .backbutton {
  margin-right: 20px;
  float: right;
  width: 45px;
  height: 45px;
  border: 1px dashed gray;
}

.backbutton:hover {
  border-color:#0bca6b;
  color:#0bca6b;
}
.breadcrumb .fileaddbutton {
  margin-right: 20px;
  float: right;
  width: 45px;
  height: 45px;
}
.breadcrumb .editbutton {
  margin-right: 20px;
  float: right;
  color: rgb(15, 14, 14);
  width: 45px;
  height: 45px;
}
.breadcrumb .notificationbutton {
  margin-right: 20px;
  float: right;
  color: rgb(15, 14, 14);
  width: 45px;
  height: 45px;
}


</style> 