<template>
  <a-layout>
    <a-layout-content
      class="container"
      :style="{
        background: '#fff',
      }"
    >
    <div style="margin-bottom:10px">
      <a-row :gutter="24">
            <a-col :span="12">
              <a-card  size="small" >
                <p>Pending Payments content</p>
                <h1 style="font-size: large">{{ getPendingCount }}</h1>
              </a-card>
            </a-col>
            <a-col  :span="12">
              <a-card  size="small" >
                <p>Total Pending</p>
                <h1 style="font-size: large">{{ getTotalAmount }}</h1>
              </a-card>
            </a-col>
      </a-row>
    </div>
      <div>
        <a-table :columns="columns" :data-source="data" @change="onChange">
          <template #bodyCell="{ column, record }">
            <template v-if="column.key === 'name'">
              <a>
                {{ record.date }}
              </a>
            </template>
            <template v-else-if="column.key === 'status'">
              <span>
                <a-tag
                  v-for="status in record.status"
                  :key="status"
                  :color="
                    status === 'Pending'
                      ? 'volcano'
                      : status === 'Received'
                      ? 'green'
                      : 'geekblue'
                  "
                >
                  {{ status }}
                </a-tag>
              </span>
            </template>
          </template>
        </a-table>
      </div>
    </a-layout-content>
  </a-layout>
</template>  
  <script setup>
import { computed } from "vue";

const columns = [
  {
    title: "Date",
    dataIndex: "date",
    key: "date",
    sorter: (a, b) => a.date.length - b.date.length,
    sortDirections: ["ascend", "descend"],
  },
  {
    title: "Status",
    key: "status",
    dataIndex: "status",
    defaultSortOrder: "descend",
    filters: [
      { text: "Received", value: "Received" },
      { text: "Pending", value: "Pending" },
    ],
    onFilter: (value, record) => record.status.indexOf(value) === 0,
      sorter: (a, b) => a.status.length - b.status.length,
  },
  {
    title: "Amount",
    dataIndex: "amount",
    key: "amount",
  },
];

const data = [
  {
    key: "1",
    date: "2023, 5, 1",
    status: ["Pending"],
    amount: 92000,
  },
  {
    key: "2",
    date: "2023, 5, 2",
    status: ["Pending"],
    amount: 50270,
  },
  {
    key: "3",
    date: "2023, 5, 3",
    status: ["Received"],
    amount: 50000,
  },
  {
    key: "4",
    date: "2023, 5, 4",
    status: ["Received"],
    amount: 22510,
  },
];
const onChange = (pagination, filters, sorter) => {
  console.log("params", pagination, filters, sorter);
};
const getPendingCount = computed(() => {
  return data.filter((item) => item.status.includes("Pending")).length;
});

const getTotalAmount = computed(() => {
  return data
    .filter((item) => item.status.includes("Pending"))
    .reduce((total, item) => total + item.amount, 0);
});
</script>
  <style scoped>
.cards {
  display: flex;
  margin: 5px;
}
.cards .pcard {
  margin: 5px;
}
</style>

