<template>
  <a-config-provider
  :theme="{ token: {
     colorPrimary: '#00b96b',
     fontFamily: 'Signika Negative, sans-serif',
    colorLink: 'var(--primary-color)',
    colorLinkHover: 'var(--link-hover)',
    colorLinkActive: 'var(--link-active)',
   } }"
>  <PageHeader/>
 
  <router-link to="/"></router-link>
  <router-view />
  <a-drawer
    :title="drawerStore.title"
    :mask-closable="false"
    :open="drawerVisible"
    @close="drawerStore.closeDrawer"
    width="1000px"
  >
    <!-- <component :is="is">
  <router-view />
</component> -->

    <component
      :is="getComponentName(drawerStore.childComponent)"
      :drawerStore="drawerStore"
      :title="drawerStore.title"
      :data="drawerStore.data"
    >
      <router-view />
    </component>
  </a-drawer>
</a-config-provider>

</template>
<script setup>
import { theme } from 'ant-design-vue';
import { computed } from "vue";
import PageHeader from "./components/PageHeader.vue";
import StoreA from "./pages/Announcements/drawer/StoreA.vue";
import AddReport from "./pages/CaseHistory/drawer/AddReport.vue";
import ViewCaseHiestory from "./pages/CaseHistory/drawer/CaseReport.vue";
import StoreCo from "./pages/Contacts/drawer/StoreCo.vue";
import StoreP from "./pages/Patients/drawer/StoreP.vue";
import ShowCo from "./pages/Contacts/drawer/ShowCo.vue";
import ShowA from "./pages/Announcements/drawer/ShowA.vue";

import { useDrawerStore } from "./store/drawer";

const { token } = theme.useToken();

const drawerStore = useDrawerStore();
const drawerVisible = computed(() => drawerStore.drawerVisible);
// const component = computed(()=> drawerStore.childComponent) 

const getComponentName = (childComponent) => {
  switch (childComponent) {
    case "StoreA":
      return StoreA;
    case "AddReport":
      return AddReport;
    case "ViewCaseHiestory":
      return ViewCaseHiestory;
    case "StoreCo":
      return StoreCo;
    case "StoreP":
      return StoreP;
    case "ShowCo":
      return ShowCo;
    case "ShowA":
      return ShowA;
    default:
      return null;
  }
};


</script>
<style>
input[type='color'] {
  border: 1px solid v-bind('token.colorBorder');
  background-color: v-bind('token.colorBgBase');
}

body {
  background-color: #f5f5f5;
}
#app {
  font-family: sans-serif;
}

</style>

//css
 


