@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap");


:root {
  --primary-color: #00b96b;
  --link-hover: #007c44;
  --link-active: #00572c;
  
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
}

*::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

body {
  font-family: "Signika Negative", sans-serif;
  color: #333;
  background-color: #fff;
}

.center-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TRANSITION CLASSES */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
  position: absolute;
}

.verticle {
    font-size: 18px;
    display: grid;
    padding: 15px;
  }
  
  .breadcrumb {
    margin-bottom: 10px;
  }
  
  .breadcrumb h1 {
    font-size: 24px;
  }
  

  
  .editable-cell:hover .editable-cell-icon {
    display: inline-block;
  }
  
  .breadcrumb .addbutton {
   
    margin-right: 20px;
    float: right;
    width: 45px;
    height: 45px;
  }
  
  .breadcrumb .settingbutton,
  .breadcrumb .backbutton {
   
    margin-right: 20px;
    float: right;
    width: 45px;
    height: 45px;
    border: 1px dashed gray;
  }
  
 
  
  .viewicon {
    padding: 5px;
  }
  
  .editicon {
    color: orange;
    padding: 5px;
  }
  
  .deleteicon {
    color: red;
    padding: 5px;
  }
  