<template>
    <a-layout>
      <SlideView />
  
      <a-layout >
        <a-layout-content
            class="container"
            :style="{
              background: '#f5f5f5',
              margin: 0,
              marginTop: '64px',
            }"
          >
        <a-layout style="padding: 0 24px 24px">
          <div class="breadcrumb">
            <a-card size="small">
              <a-row justify="space-between" align="middle">
                <a-col  :span="24">
                  <a-row align="middle" :gutter="[24]" >
                    <a-col :span="14">
                      <a-breadcrumb >
                        <a-breadcrumb-item
                          ><router-link to="/">Home</router-link></a-breadcrumb-item
                        >
                        <a-breadcrumb-item
                          ><router-link to="/users"
                            >Users</router-link
                          ></a-breadcrumb-item
                        >
                      </a-breadcrumb>
                      <h1>Users</h1>
                    </a-col>
                    <a-col :span="10">
                      <a-tooltip placement="top">
                        <template #title>
                          <span>Back</span>
                        </template>
                        <a-button class="editable-add-btn backbutton" @click="goBack"
                          ><arrow-left-outlined
                        /></a-button>
                      </a-tooltip>
                      <a-popover
                        v-model:open="visibledropdoun"
                        placement="bottom"
                        trigger="click"
                      >
                        <a-tooltip placement="top">
                          <template #title>
                            <span>Show/Hide Columns</span>
                          </template>
                          <a-button class="editable-add-btn settingbutton"
                            ><setting-outlined
                          /></a-button>
                        </a-tooltip>
                        <template #content>
                          <div>
                            Select Columns
                            <a @click="hide" style="float: right"><close-outlined /></a
                            ><br />
                          </div>
                          <div class="checkbox">
                            <a-checkbox
                              v-model:checked="showAllColumns"
                              :indeterminate="statee.indeterminate"
                              @change="onShowAllChange"
                            >
                              Show All 
                            </a-checkbox>
                          </div>
                          <a-checkbox-group
                            class="verticle"
                            v-model:value="statee.checkedList"
                            :options="plainOptions"
                          />
                        </template>
                      </a-popover>
                      <a-tooltip placement="top">
                        <template #title>
                          <span>Add New users</span>
                        </template>
                        <a-button type="primary" class="editable-add-btn addbutton" @click="openDrawerr()"
                          ><plus-outlined />
                        </a-button>
                      </a-tooltip>
                    </a-col>
                  </a-row>
                </a-col>
              </a-row>
            </a-card>
          </div>
       
          <a-card>
            <a-spin :spinning="spinning">
            </a-spin>
          </a-card>
        </a-layout>
      </a-layout-content>
      </a-layout>
      
    </a-layout>
  </template>
  <script setup>
  // import StoreA from "./StoreA.vue";
  import SlideView from "@/components/SlideView.vue";

  import {
    PlusOutlined,
    SettingOutlined,
    ArrowLeftOutlined,
    CloseOutlined,
  } from "@ant-design/icons-vue";

  </script>
  <style scoped>
  
  </style>