<template>
  <a-layout>
    <SlideView /> 

    <a-layout>
      <a-layout-content
      class="container"
        :style="{
          background: '#f5f5f5',
          margin: 0,
          marginTop: '64px',
        }"
      >
        <a-layout style="padding: 0 24px 24px">
          <div class="breadcrumb">
            <a-card size="small">
              <a-row justify="space-between" align="middle">
                <a-col :span="24">
                  <a-row align="middle" :gutter="[24]">
                    <a-col :span="14"> 
                      <a-breadcrumb >
                        <a-breadcrumb-item
                          ><router-link to="/">Home</router-link></a-breadcrumb-item
                        >
                        <a-breadcrumb-item
                          ><router-link to="/case-history">
                            Case History</router-link
                          ></a-breadcrumb-item
                        >
                      </a-breadcrumb>
                      <h1>Case History</h1>
                    </a-col>
                    <a-col :span="10">
                      <a-tooltip placement="top">
                        <template #title>
                          <span>Back</span>
                        </template>
                        <a-button class="editable-add-btn backbutton" @click="goBack"
                          ><arrow-left-outlined
                        /></a-button>
                      </a-tooltip>
                      <a-popover
                        v-model:open="visibledropdoun"
                        placement="bottom"
                        trigger="click"
                      >
                        <a-tooltip placement="top">
                          <template #title>
                            <span>Show/Hide Columns</span>
                          </template>
                          <a-button class="editable-add-btn settingbutton"
                            ><setting-outlined
                          /></a-button>
                        </a-tooltip>
                        <template #content>
                          <div>
                            Select Columns
                            <a @click="hide" style="float: right"><close-outlined /></a
                            ><br />
                          </div>
                          <div class="checkbox">
                            <a-checkbox
                              v-model:checked="showAllColumns"
                              :indeterminate="statee.indeterminate"
                              @change="onShowAllChange"
                            >
                              Show All
                            </a-checkbox>
                          </div>
                          <a-checkbox-group
                            class="verticle"
                            v-model:value="statee.checkedList"
                            :options="plainOptions"
                          />
                        </template>
                      </a-popover>
                    </a-col>
                  </a-row>
                </a-col>
              </a-row>
            </a-card>
          </div>
        <a-card>
     
          <a-spin :spinning="spinning">
            <a-table
              :columns="filteredColumns"
              :data-source="data"
              @change="onChange"
             
            >
              <template
                #customFilterDropdown="{
                  setSelectedKeys,
                  selectedKeys,
                  confirm,
                  clearFilters,
                  column,
                }"
              >
                <div style="padding: 8px">
                  <a-input
                    ref="searchInput"
                    :placeholder="`Search ${column.dataIndex}`"
                    :value="selectedKeys[0]"
                    style="width: 188px; margin-bottom: 8px; display: block"
                    @change="
                      (e) =>
                        setSelectedKeys(e.target.value ? [e.target.value] : [])
                    "
                    @pressEnter="
                      handleSearch(selectedKeys, confirm, column.dataIndex)
                    "
                  />
                  <a-button
                    type="primary"
                    size="small"
                    style="width: 90px; margin-right: 8px"
                    @click="
                      handleSearch(selectedKeys, confirm, column.dataIndex)
                    "
                  >
                    <template #icon>
                      <SearchOutlined />
                    </template>
                    Search
                  </a-button>
                  <a-button
                    size="small"
                    style="width: 90px"
                    @click="handleReset(clearFilters)"
                  >
                    Reset
                  </a-button>
                </div>
              </template>
              <template #customFilterIcon="{ filtered }">
                <search-outlined
                  :style="{ color: filtered ? '#108ee9' : undefined }"
                />
              </template>
              <template #bodyCell="{ text, column }">
                <span
                  v-if="
                    state.searchText &&
                    state.searchedColumn === column.dataIndex
                  "
                >
                  <template
                    v-for="(fragment, i) in text
                      .toString()
                      .split(
                        new RegExp(
                          `(?<=${state.searchText})|(?=${state.searchText})`,
                          'i'
                        )
                      )"
                  >
                    <mark
                      v-if="
                        fragment.toLowerCase() ===
                        state.searchText.toLowerCase()
                      "
                      :key="i"
                      class="highlight"
                    >
                      {{ fragment }}
                    </mark>
                    <template v-else>{{ fragment }}</template>
                  </template>
                </span>
                <template v-if="column.dataIndex === 'action'">
                  <div>
                    <a-tooltip placement="top">
                      <template #title>
                        <span>View Case Details</span>
                      </template>
                      <span>
                        <a class="viewicon" @click="openDrawer()">
                          <eye-outlined
                        /></a>  
                      </span>
                    </a-tooltip>
                    <a-tooltip placement="top">
                      <template #title>
                        <span>Report Details</span>
                      </template>
                      <span>
                        <a class="editicon" @click="openAddDrawer()" style="color:blueviolet">
                          <FilterOutlined/>
                        </a>
                      </span>
                    </a-tooltip>
                  </div>
                </template>
              </template>
            </a-table>
          </a-spin>
        </a-card>
        </a-layout>
      </a-layout-content>
    </a-layout>
  </a-layout>
</template> 
  <script setup>
import {
  EyeOutlined,
  SettingOutlined,
  ArrowLeftOutlined,
  CloseOutlined,
  SearchOutlined,
  FilterOutlined
} from "@ant-design/icons-vue";
import { useSpinnerStore } from "@/store/spinner";
import { useDrawerStore } from "../../store/drawer";
import { ref, computed, reactive, watch, watchEffect } from "vue";
import SlideView from "@/components/SlideView.vue";
import { storeToRefs } from "pinia";

const showAllColumns = ref(false);
const visibledropdoun = ref(false);
const spinerstore = useSpinnerStore();
const { spinning } = storeToRefs(spinerstore);
const { startSpin } = spinerstore;
const drawerStore = useDrawerStore();
const { goBack } = drawerStore;

//open drawe in view case hiestory
const openDrawer = () => {
  drawerStore.openDrawer({
    title: "Case Report",
    childComponent: "ViewCaseHiestory",
  });
};

//open drawer in add report
const openAddDrawer = () => {
  drawerStore.openDrawer({
    title: "Add Report",
    childComponent: "AddReport",
  });
};
const hide = () => {
  visibledropdoun.value = false;
};
const state = reactive({
  searchText: "",
  searchedColumn: "",
});
const searchInput = ref();
const columns = [
  {
    title: "Patient",
    dataIndex: "patient",
    sorter: (a, b) => a.patient.length - b.patient.length,
    sortDirections: ["descend", "ascend"],
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.patient.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "Doctor",
    dataIndex: "doctor",
    sorter: (a, b) => a.doctor.length - b.doctor.length,
    sortDirections: ["descend", "ascend"],
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.doctor.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "Mobile No.",
    dataIndex: "mobileno",
    sorter: (a, b) => a.mobileno.length - b.mobileno.length,
    sortDirections: ["descend", "ascend"],
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.mobileno.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "Gender",
    dataIndex: "gender",
    sorter: (a, b) => a.gender.length - b.gender.length,
    sortDirections: ["descend", "ascend"],
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.gender.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "Date",
    dataIndex: "date",
    sorter: (a, b) => a.date.length - b.date.length,
    sortDirections: ["descend", "ascend"],
    customFilterDropdown: true,
    onFilter: (value, record) =>
      record.date.toString().toLowerCase().includes(value.toLowerCase()),
    onFilterDropdownOpenChange: (visible) => {
      if (visible) {
        setTimeout(() => {
          searchInput.value.focus();
        }, 100);
      }
    },
  },
  {
    title: "Actions",
    dataIndex: "action",
    key: "action",
  },
];

const handleSearch = (selectedKeys, confirm, dataIndex) => {
  confirm();
  state.searchText = selectedKeys[0];
  state.searchedColumn = dataIndex;
};
const handleReset = (clearFilters) => {
  clearFilters({
    confirm: true,
  });
  state.searchText = "";
};

const data = [
  {
    key: "1",
    patient: "Garrett Ahluwalia",
    doctor: "Dr. Antonia Adiga",
    mobileno: "+91 04504 51385",
    gender: "Male",
    date: "May 22, 2023",
  },
  {
    key: "2",
    patient: "Blanche Gill",
    doctor: "Dr. Fred Arora",
    mobileno: "+91 55994 30027",
    gender: "Female",
    date: "May 22, 2023",
  },
  {
    key: "3",
    patient: "Edmond Reddy",
    doctor: "Dr. Ms. Don Gowda",
    mobileno: "+91 51550 37096",
    gender: "Female",
    date: "May 18, 2023",
  },
  {
    key: "4",
    patient: "Janis Mehrotra	",
    doctor: "Dr. Marshall Bhattacharya",
    mobileno: "+91 95599 46211",
    gender: "Male",
    date: "May 16, 2023",
  },
  {
    key: "5",
    patient: "Garrett Ahluwalia",
    doctor: "Dr. Antonia Adiga",
    mobileno: "+91 04504 51385",
    gender: "Male",
    date: "May 22, 2023",
  },
  {
    key: "6",
    patient: "Blanche Gill",
    doctor: "Dr. Fred Arora",
    mobileno: "+91 55994 30027",
    gender: "Female",
    date: "May 22, 2023",
  },
  {
    key: "7",
    patient: "Edmond Reddy",
    doctor: "Dr. Ms. Don Gowda",
    mobileno: "+91 51550 37096",
    gender: "Female",
    date: "May 18, 2023",
  },
  {
    key: "8",
    patient: "Janis Mehrotra	",
    doctor: "Dr. Marshall Bhattacharya",
    mobileno: "+91 95599 46211",
    gender: "Male",
    date: "May 16, 2023",
  },
  {
    key: "9",
    patient: "Garrett Ahluwalia",
    doctor: "Dr. Antonia Adiga",
    mobileno: "+91 04504 51385",
    gender: "Male",
    date: "May 22, 2023",
  },
  {
    key: "10",
    patient: "Blanche Gill",
    doctor: "Dr. Fred Arora",
    mobileno: "+91 55994 30027",
    gender: "Female",
    date: "May 22, 2023",
  },
  {
    key: "11",
    patient: "Edmond Reddy",
    doctor: "Dr. Ms. Don Gowda",
    mobileno: "+91 51550 37096",
    gender: "Female",
    date: "May 18, 2023",
  },
  {
    key: "12",
    patient: "Janis Mehrotra	",
    doctor: "Dr. Marshall Bhattacharya",
    mobileno: "+91 95599 46211",
    gender: "Male",
    date: "May 16, 2023",
  },
];
function onChange(pagination, filters, sorter, extra) {
  console.log("params", pagination, filters, sorter, extra);
}

const filteredColumns = computed(() => {
  if (showAllColumns.value) {
    return columns;
  } else {
    return columns.filter((column) =>
      statee.checkedList.includes(column.dataIndex)
    );
  }
});

const plainOptions = [
  "patient",
  "doctor",
  "mobileno",
  "gender",
  "date",
  "action",
];
const defaultCheckedList = [
  "patient",
  "doctor",
  "mobileno",
  "gender",
  "date",
  "action",
];
const statee = reactive({
  indeterminate: true,
  checkAll: false,
  checkedList: defaultCheckedList,
});

const onShowAllChange = (checked) => {
  if (checked) {
    statee.checkedList = plainOptions;
  } else {
    statee.checkedList = [];
  }
};

watch(showAllColumns, (value) => {
  if (value) {
    statee.checkedList = plainOptions.slice(); // Select all options
  } else {
    statee.checkedList = defaultCheckedList.slice(); // Reset to default options
  }
});
watchEffect(() => {
  startSpin();
});
</script>   
  <style  scoped>
.verticle {
  font-size: 18px;
  display: grid;
  padding: 15px;
}

</style> 


 
  